* {
	margin: 0;
	padding: 0;
}

.banner {
	position: relative;
	margin: 50px auto;
	width: 1226px;
	height: 460px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.pic {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.banner .pic img {
	float: left;
}

.banner .tab {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.banner .tab ul li{
	float: left;
	margin-right: 5px;
	width: 13px;
	height: 13px;
	list-style: none;
	background-color: #999;
	border-radius: 100%;
	cursor: pointer;
}

.tab ul li.current {
	background-color: #fff;
}

.btn {
	position: absolute;
	left: 0;
	top: calc(50% - 25px);
	width: 100%;
	height: 50px;
	display: none;
}

.leftBtn,.rightBtn {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 3em;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	background-color: rgba(125, 125, 125, .1);
}

.fl {
	float: left;
}

.fr {
	float: right;
}