body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: serif;
    background-color: #eee;
}


/* 外套 */

.wrap {
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 100%;
    overflow: hidden;
}


/* iconfont部分 */

.iconfont {
    font-size: 35px;
}

.icon-jintian {
    font-size: 35px;
    color: #Fff;
}


/* 搜索框 */

.search {
    position: relative;
    margin: 0 10px;
    height: 80px;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    line-height: 80px;
}

.search #city {
    padding: 10px 13px;
    padding-left: 45px;
    font-size: 25px;
    border: 1px solid rgba(125, 125, 125, .6);
    border-radius: 10px;
    outline-style: none;
    color: #DDD;
    background: url('../img/location.png') 5px 12.5px no-repeat;
    /* background-size: cover; */
}

.search #btn {
    margin-left: 15px;
    padding: 5px 13px;
    background-color: #333;
    border: 1px solid rgba(255, 255, 255, .4);
    color: #ddd;
    border-radius: 5px;
    font-size: 25px;
}


/* 内容 */

.content {
    position: relative;
    margin: 0 10px;
    /* background-image: linear-gradient(45deg,#333, #999); */
    background: url('../img/bg_03.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/* 日期 */

.date {
    height: 200px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 200px;
}


/* .date time {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 30%;
    display: block;
    background-color: #eee;
}
 */


/* 温度 */

.temperature-box {
    position: relative;
    height: 300px;
    color: #Fff;
    /* border-top: 10px solid #16171B; */
    /* border-bottom: 10px solid #16171B; */
    box-sizing: border-box;
    /* background-color: yellowgreen; */
}

.temperature {
    position: absolute;
    left: calc(50% - 75px);
    top: 20%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 55px;
    border: 1px solid #333;
    border-radius: 50%;
}

.temperature::after {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width: 170px;
    height: 170px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 30px 1px #eee;
}

.temperature-box>h1 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.temp-info {
    position: relative;
    height: 660px;
    /* height: 100%; */
}


/* 白天/晚上 */

.temp-info .day,
.temp-info .night {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    /* color: #C39458; */
    /* text-shadow: 3px 3px 5px #fff; */
}

.temp-info .day {
    /* border-right: 2px solid #92c197; */
    /* background-color: #fff; */
    color: #F4D04D;
}

.temp-info .night {
    /* background-color: #ddd; */
    color: #31569D;
}

.title h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    /* background-color: #0AA6E8; */
}

.info {
    position: relative;
    width: 100%;
    height: 100%;
}

.info li {
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
}