body {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* 外套 */

.wrap {
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 100%;
    background-color: #eee;
    overflow: hidden;
}


/* 搜索框 */

.search {
    position: relative;
    margin: 0 10px;
    height: 80px;
    background-color: red;
    text-align: center;
    line-height: 80px;
}

.search #city {
    padding: 10px 13px;
    font-size: 25px;
    border: 1px solid rgba(125, 125, 125, .6);
    border-radius: 10px;
    outline-style: none;
    color: #92c197;
}

.search #btn {
    margin-left: 15px;
    padding: 5px 13px;
    background-color: rgb(231, 79, 77);
    border: 1px solid rgba(255, 255, 255, .4);
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    color: #333;
}



/* 内容 */

.content {
    position: relative;
    margin: 0 10px;
}


/* 日期 */

.date {
    height: 300px;
    font-size: 35px;
    color: #333;
    background-color: blue;
    text-align: center;
    line-height: 300px;
}


/* 温度 */

.temperature-box {
    position: relative;
    height: 400px;
    background-color: yellowgreen;
}

.temperature {
    position: absolute;
    left: calc(50% - 100px);
    top: 20%;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 55px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.temperature-box>h1 {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.temp-info {
    position: relative;
    height: 360px;
    /* height: 100%; */
    background-color: gray;
}


/* 白天/晚上 */
.temp-info .day,
.temp-info .night {
    width: 50%;
    height: 100%;
    background-color: #ddd;
    box-sizing: border-box;
}

.temp-info .day {
    border-right: 2px solid #fff;
}

.title h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-color: #eee;
}

.info {
    position: relative;
    width: 100%;
    height: 100%;
}

.info li {
    height: 70px;
    text-align: center;
    line-height: 70px;
}