*{
	margin: 0;
	padding: 0;
}

.nav-content{
	width: 100%;
	height: 300px;
	background-color: springgreen;
	margin: 50px auto;
}

.ulimg{
	width: 100%;
	height: 300px;
	background-color: white;
	opacity: 8;
}

.ulimg li{
	margin-left: 25%;
	list-style: none;
	width: 100%;
	height: 0;
}

.ulimg li img{
	width: 50%;
	height: 0px;
	border: 0.5px solid #777;
	transition: .3s;
	vertical-align: top;
}

.list{
	margin: 0 auto;
	width: 660px;
	height: 60px;
	background-color: white;
}

.list a{
	padding-left: 20px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
}

.list a:hover{
	color: red;
	transition: .3s;
}