body {
    background-color: #FEF4E4;
}

/* 外套wrap */
.wrap {
    position: relative;
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.content {
    -o-transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

/* 头部header */
header {
    padding: 30px 11px 10px;
    text-align: center;
    line-height: 40px;
    color: #333;
}

header .sub-menu,
header .add {
    font-size: 42px;
    cursor: pointer;
}

header .main-menu {
    width: 180px;
    height: 50px;
    padding: 5px;
    margin-left: calc(50% - 90.5px);
    background-color: #EFE1D3;
    box-sizing: border-box;
    border-radius: 5px;
}

header .main-menu a {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    /* font: 1em 微软雅黑; */
    font-size: 15px;
}

header .main-menu .open {
    background-color: #FF7F66;
    color: #fff;
}

/* main部分 */
.items .items-title {
    padding: 46px 20px;
    height: 60px;
    text-align: center;
    line-height: 76px;
}

.items .items-title .photo {
    width: 60px;
    height: 60px;
    border: 5px solid red;
    border-radius: 50%;
}

.items .items-title img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.items .items-title h1 {
    display: block;
    margin-left: 20px;
    font: bold 25px 微软雅黑;
    line-height: 76px;
}

.items .items-title .collect {
    font-size: 20px;
}

.items .items-title .icon-xing1 {
    font-size: 26px;
}

.items .fig-box {
    display: block;
}

.items .fig-box figcaption h1 {
    font-size: 28px;
    text-align: center;
}

.items .items-content .pic {
    position: relative;
    height: 360px;
    background: url('../img/1.jpg') top left no-repeat;
    background-size: cover;
}

.items .items-content .pic-two {
    background: url('../img/2.jpg') top left no-repeat;
}

.items .items-content .pic-three {
    background: url('../img/3.jpg') top left no-repeat;
}

.items .items-content .pic > span {
    position: absolute;
    width: 214px;
    height: 100%;
    left: calc(50% - 107px);
    background-color: rgba(125, 125, 125, .6);
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 360px;
}

.items .items-content .items-menus {
    padding: 0 25px;
    height: 80px;
    background-color: #2F3D4C;
    color: #Fff;
    text-align: center;
    line-height: 80px;
}

.items .items-content .items-menus .user,
.items .items-content .items-menus .share {
    font-size: 25px;
}

.items .items-content .items-menus i {
    margin-right: 10px;
    font-size: 30px;
}

.items .items-content .items-menus .accept {
    margin: 10px 0 0 66px;
    width: 214px;
    height: 60px;
    background-color: #FF7F66;
    text-align: center;
    line-height: 60px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 20px;
}

/* 遮罩层 */
.mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

/* sidebar左导航 */
.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #2F3D4C;
    -o-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -o-transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

.sidebar .leave {
    position: absolute;
    top: 20px;
    width: 42px;
    height: 46px;
    font-size: 42px;
    color: #333;
    cursor: pointer;
    opacity: 0;
    -o-transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

.sidebar .user-photo {
	position: relative;
	width: 100%;
	height: 180px;
/* 	background: url('../img/busy.jpg') center center no-repeat;
	background-size: cover;
	filter: blur(2px); */
}

.sidebar .user-photo > div {
	position: absolute;
	left: calc(50% - 60px);
	top: calc(40% - 40px);
	border: 3px solid #F15453;
	padding: 3px;
	border-radius: 50%;
}

.sidebar .user-photo img {
	border-radius: 50%;
}

.sidebar .user-info {
	text-align: center;
	color: #fff;
}

.sidebar .user-info > h2 > i {
	color: yellow;
}