body{
    background: #F5F5F5;
}
body,div,ul,li,p,input{
    margin: 0;
    padding: 0;
    font:13px 宋体;
}
input,img{
    border:0 none;
}
img{
    outline-style: none;
}
ul,li{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.line{
    width: 165px;
    height: 3px;
    background:url("images/sprites.png") 0 -46px;
}
.nav{
    height: 38px;
}
.nav-con{
    width: 1000px;
    height: 38px;
    background:url("images/dh.gif");
    margin: 0 auto;
    position: relative;
}
.nav-con ul{
    height: 38px;
    position:absolute;
    left: 435px;
}
.nav-con ul li{
    float: left;
    height: 38px;
}
.nav-con ul li a{
    display:inline-block;
    color:#fff;
    height: 38px;
    font:15px/38px 	\5B8B\4F53;
    padding:0 10px;
}
.logo{
    width: 991px;
    height: 136px;
    margin: 0 auto;
    position: relative;
}
.weixin{
    width: 92px;
    height: 92px;
    background: url("images/sprites.png");
    position:absolute;
    left:958px;
    top:14px;

}
.search{
    width: 290px;
    height: 22px;
    position:absolute;
    right: 5px;
    bottom: 29px;
    font:13px/22px 宋体;
    color:#B4ABA6;
}
.search span{
    float:left;
}
.search input[type="text"]{
    width: 152px;
    height: 20px;
    border:1px solid #A9AAA5;
    float:left;
    margin-left: 16px;
}
.search input[type="button"]{
    height: 22px;
    width: 54px;
    border:1px solid #A9AAA5;
    float:left;
}
.banner{
    width: 991px;
    height: 203px;
    margin: 0 auto;
}
.banner-l{
    width: 470px;
    height: 195px;
    color:#fff;
    background-color: #213C6B;
}
.banner-l p{
    height: 44px;
    margin: 20px 0px 0px 11px;
    font:13px 微软雅黑;
}
.banner-l ul.ban-nav{
    height: 30px;
}
.banner-l ul.ban-nav li{
    float:left;
    padding-left: 9px;
}
.banner-l ul.ban-nav li{
    color:#ff0000;
    font-weight: 700;
}
.banner-l ul.ban-nav li a{
    color:#fff;
}
.banner-l ul.ban-nav li a:hover{
    text-decoration: underline;
    color:#fff;
}
.banner-l input[type="text"]{
    width: 282px;
    height: 28px;
    border:1px solid #9BA8B1;
    margin-left: 9px;
}
.banner-l input[type="button"]{
    width: 65px;
    height: 28px;
    border:1px solid #9BA8B1;
}
.ban-radio{
    height: 45px;
    padding: 8px 0 0 13px;
}
.ban-radio input[type="radio"]{
    padding-left: 8px;
}
.banner-l ul.ban-fot{
    margin-left: 34px;
}
.banner-l ul.ban-fot li{
    float:left;
    padding-right: 36px;
}
.banner-l ul.ban-fot li a{
    color:#fff;
}
.content{
    width: 992px;
    height: 482px;
    margin: 0 auto;
}
.content-l{
    width: 241px;
    position:relative;
}
.ele-res{
    height: 23px;
    width: 236px;
}
.ele-res h3{
    margin:27px 0 0 15px;
    color:#304767;
    font-weight: 700;
}
.content-l ul{
    padding-top: 15px;
}
.content-cen{
    width: 444px;
    height: 482px;
}
.content-r{
    width: 302px;
    height: 307px;
}

