/* CSS Document 
use for:www.18183.com
version:1.0
Data:2017/12/04
Author: MingShined
*/


/* 头部 */

body {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0.2rem;
	box-sizing: border-box;
	font-family: Arial;
	color: #333;
	overflow: hidden;
	background-color: #eee;
}

.header {
	/* margin: 0.2rem; */
	border-top: 1px solid rgba(0, 0, 0, .4);
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.header {
	font: .8rem Arial;
	color: #777;
}

.header .copyright {
	font-size: 0.3rem;
	line-height: 0.92rem;
}

/* 主体 */

.main .locat {
	position: relative;
	display: block;
	top: 0.3rem;
	font-size: 1.3rem;
}

.main .location {
	margin-left: 1.3rem;
	font-size: .7rem;
	color: #333;
}

.main .temp {
	font-size: 5rem;
	font-family: Tahoma;
}

.main .text .fa-sun-o {
	font-size: 1.5rem;
}

.main .info {
	position: relative;
	top: 0.2rem;
}

.main .info li {
	float: left;
	margin-top: 0.2rem;
	width: 33%;
	border-right: 1px solid rgba(0, 0, 0, .4);
	font-size: .45rem;
	text-align: center;
	color: #777;
}

.main .info li:nth-child(2) {
	color: red;
}

.main .info li:last-child {
	border-right: none;
}

.main .title {
	position: relative;
	display: block;
	top: .5rem;
	font-size: 0.5rem;
	text-align: center;
}

.main .tips {
	position: relative;
	margin-top: 1rem;
}

.main .tips .swiper-slide {
	padding: 0 1rem;
	box-sizing: border-box;
	font-size: 0.45rem;
	color: #333;
}

.main .tips .swiper-slide .tips-tit {
	text-align: center;
}

.main .tips .swiper-button-next,
.main .tips .swiper-button-prev {
	position: absolute;
	top: 1.3rem;
}

.future,
.future .swiper-wrapper {
    position: relative;
    top: .5rem;
    width: 100%;
    height: 4rem;
}

.future .swiper-slide {
    font-size: 0.5rem;
    text-align: center;
}


.future .swiper-slide ul li:nth-child(2) {
	font-size: 0.55rem;
}


/* 尾部 */

