/**
 * [background description]
 * @Author {[陈明圣]}
 * @Datetime {[2017-08-21]}
 * @Description {[css初始化公共样式]}
 */

/* 全局样式 */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

/* 文档主体样式 */
html {
    background: #fff;
    overflow: auto;
}

body {
    min-width: 960px;
    font: 12px "Microsoft Yahei";
    font-weight: lighter;
    color: #333;
    -webkit-font-smoothing: antialiased;
}


/* 链接样式 */
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}

a:hover {
    text-decoration: none;
    color: #ff4f20;
}

a:focus {
    -moz-outline-style: none;
    border: 0px;
    blr: expression(this.onFocus=this.blur());
}


/* 块级元素样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

header, footer, article, aside, section, nav, menu, hgroup, details, dialog, figure, figcaption {
    display: block
}


/* 列表 图片边框*/
ol, li, ul, dl, dt, dd {
    list-style: none;
}

fieldset, img {
    border: 0
}


/* 编码 */
code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}


/* 按钮样式 */
button, submit, input, select {
    vertical-align: middle;
}

button, submit {
    cursor: pointer;
}

select, button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline-style: none;
    outline-width: 0;
}

/* 字体 */
h1, h2, h3, h4, h5, h6 {
    
}

strong, em {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

/* 表格 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 上下标 */
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}


/* 浮动 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;/* ie6/ie7 */
}

.container {
    margin: 0 auto;
    width: 960px;
}


/* 媒体查询 */
.row:before,.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    box-sizing: border-box;
    height: 200px;
    margin: 10px;
    border: 1px solid #999999;
    background-color: #eee;
}

@media only screen and (min-width: 768px){
    .col-md-1{
        width: calc(8.333% - 20px);
    }
    .col-md-2{
        width: calc(16.666% - 20px);
    }
    .col-md-3{
        width: calc(25% - 20px);
    }
    .col-md-4{
        width: calc(33.333% - 20px);
    }
    .col-md-6{
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 767px){
    .col-sm-2{
        width: calc(16.666% - 20px);
    }
    .col-sm-3{
        width: calc(25% - 20px);
    }
    .col-sm-6{
        width: calc(50% - 20px);
    }
    .col-sm-8{
        width: calc(66.666% - 20px);
    }
    .col-sm-12{
        width: calc(100% - 20px);
    }
}