<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VUE</title>
    <link rel="stylesheet" href="">
</head>

<body>

<!-- 通过message可以动态文本信息 -->
<div id="app">{{message}}</div>

<!-- 通过v-bind可以动态绑定属性 -->
 <div id="app2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<!-- 通过v-if可以绑定是否显示隐藏 -->
<div v-if="seen" id="app3">现在你看得到我</div>

<!-- 通过v-for可以循环遍历标签 -->
<div id="app4">
	<ol>
		<li v-for="item in items">{{ item.text }}</li>
	</ol>
</div>

<!-- 通过v-on：event可以动态绑定函数 -->
<div id="app5">
	<p>{{message}}</p>
	<button v-on:click="reverfun">点击</button>
</div>

<!-- 通过v-model可以动态绑定表单和应用状态的双向处理 -->
<div id="app6">
	<p>{{message}}</p>
	<input type="" name="" v-model="message">
</div>

	<script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            message: '你好!'
        }
    })

    var app2 = new Vue({
    	el: "#app2",
    	data:{
    		message:'页面加载于:' + new Date().toLocaleString()
    	}
    
    })

    var app3 = new Vue({
    	el: "#app3",
    	data:{
    		seen:true
    	}
    
    })

    var app4 = new Vue({
    	el:"#app4",
    	data:{
    		items:[
    			{ text: "javaa"},
    			{ text: "html"},
    			{ text: "javascript"},
    		]
    	}
    })

    var app5 = new Vue({
    	el: "#app5",
    	data:{
    		message:"这是第一段很帅的文字"
    	},
    	methods:{
    		reverfun:function () {
    			this.message = this.message.split('').reverse().join('')
    		}
    	}
    })

  	var app6 = new Vue({
  		el: "#app6",
		data:{
			message:'这是vue绑定的文本'
		}  	
  	})
    </script>
</body>

</html>