*{
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
	box-sizing: border-box;
}

body {
	min-width: 1000px;
}

/* header */

/* head */
header{
	height: 748px;
}

.head{
	padding: 0 20px 0 40px;
	height: 60px;
	min-width: 520px;
}

.title{
	float: left;
	font: .7em 微软雅黑;
}

.title img{
	position: relative;
	top: 10px;
}

.login{
	position: relative;
	float: right;
	display: inline-block;
	text-align: coxter;
	line-height: 60px;
	color: #9C9197;
}

.login .login-bottom{
	position: absolute;
	top: 40px;
	left: 20px;
	width: 0px;
	height: 0px;
	border-top: 2px solid red;
	transition: width .3s ease-in-out;
	-webkit-transition: width .3s  ease-in-out;
}

.login span:hover~ .login-bottom{
	width: 50px;
}

.navbar{
	position: relative;
	float: right;
	right: 50px;
}

.navbar .nav-bottom{
	position: absolute;
	top: 55px;
	left: 25px;
	width: 55px;
	height: 0;
	border-bottom: 5px solid #8E9197;
	transition: left .5s ease-in-out;
	-webkit-transition: left .3s ease-in-out;
}

.navbar ul{
	list-style: none;
}

.navbar ul li{
	display: inline;
	text-align: center;
	padding-left: 50px;
	font: 1.2em/60px 微软雅黑;
}

.navbar ul li a{
	transition: .8s;
	-webkit-transition: .8s;
}

.navbar ul li a:hover{
	color: black;
}

.navbar ul li:nth-child(2):hover~ .nav-bottom{
	left: 110px;
}

.navbar ul li:nth-child(3):hover~ .nav-bottom{
	left: 230px;
}

.navbar ul li:nth-child(4):hover~ .nav-bottom{
	left: 360px;
}

.navbar ul li:nth-child(5):hover~ .nav-bottom{
	left: 470px;
}

.navbar ul li a,.login span a{
	color: #9C9197;
	text-decoration: none;
}
/* banner */
.banner{
	position: relative;
	height: 688px;
	background-image: url('../img/angle.jpg');
	background-size: cover;
}

.banner .box{
	position: absolute;
	top: 30%;
	left: 150px;
}

.banner .box h1{
	font: 3.5em 微软雅黑;
	color: #ffffff;
}

.banner .box p{
	font: 1.5em/50px 微软雅黑;
	color: #ffffff ;
}

.banner .box a{
	position: absolute;
	top: 200px;
	padding: 15px 80px;
	border: 1px solid rgba(255, 255, 255, .4);
	background-color: rgb(231, 79, 77);
	font: 1.8em 微软雅黑;
	font-weight: bold;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	transition: .4s;
	-webkit-transition: .4s;
}

.banner .box a:hover{
	background-color: #ffffff;
	color: red;
	padding: 20px 85px;
}

/* 内容部分 */
/* 第一部分 */
.first-content{
	width: 100%;
	height: 252px;
}

.figure-box{
	position: relative;
	left: 30px;
	display: inline-block;
	width: 24%;
	height: 252px;
	cursor: pointer;
	transition: .6s;
	-webkit-transition: .6s;
}

.figure-box:hover{
	box-shadow: 0 0 30px 5px red;
	background-color: #eee;
}

.figure-box img{
	position: absolute;
	top: 20%;
	left: calc(48% - 5px);
	transform: translate(-30%, -48%);
	-webkit-transform: translate(-30%, -48%);
}

.figure-box figcaption{
	position: absolute;
	top: 50%;
	left: calc(50% - 3px);
	width: 100%;
	height: 51px;
	border-right: 3px solid #eee;
	padding-right: 50px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.figure-box figcaption span a{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-80%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	/* line-height: 51px; */
	color: rgb(141, 141, 155);
	text-decoration: none;
	transition: .6s;
	-webkit-transition: .6s;
}

.figure-box figcaption span a:hover{
	color: red;
}

/* 第二部分 */
.second-content{
	position: relative;
	height: 363px;
	background-color: #eee;
	overflow: auto;
}

.second-content img{
	position: absolute;
	left: calc(50% - 42px);
	top: 20%;
	transition: .6s;
	-webkit-transition: .6s;
}

.second-content img:hover{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.second-content h1{
	position: relative;
	top: 50%;
	font-size: 3em;
	text-align: center;
	color: #9C9197;
	transition: all .4s;
	-webkit-transition: all .4s;
}

.second-content h1:hover{
	font-size: 3.5em;
	cursor: pointer;
	color: #D82008;
}


/* 第三部分 */
.third-contend{
	position: relative;
	width: 100%;
	overflow: hidden;
}


.third-contend .pic img{
	display: none;
	width: 100%;
	border-radius: 10px;
}

.third-contend .article{
	position: absolute;
	padding: 50px 50px 0;
	width: 95%;
	height: 100%;
	top: 0;
	left: 50%;
	text-align: center;
	background-color: rgba(125,125,125,.4);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.third-contend .article h1{
	text-shadow: 2px 2px 0 #BAC0D1;
	font: italic 5em 微软雅黑;
	color: #fff666;
	cursor: pointer;
}


.article .p-top,.article .p-bottom{
	text-shadow: 2px 2px 0 #BAC0D1;
	font: 2em 微软雅黑;
	color: #ffffff;
}

.third-contend .article a{
	margin-top: 20%;
	padding: 5px 35px;
	text-decoration: none;
	border: 1px solid #ffffff;
	font: 2em 微软雅黑;
	color: #ffffff;
	background-color: #ffb033;
	transition: .6s;
	-webkit-transition: .6s;
}

.third-contend .article a:hover{
	box-shadow: 0 0 5px 2px #ffffff;
	padding: 20px 85px;
	opacity: .8;
	font-size: 2.5em;
	/* color: red; */
}

/* 第四部分 */
.fourth-contend{
	padding: 20px;
	background-color: #eee;
}

.fourth-contend h1{
	position: relative;
	display: block;
	font: italic 3em 微软雅黑;
	color: #9C9197;
	text-align: center;
	cursor: pointer;
}

.fourth-contend h1:hover~ .map-bottom{
	width: 30%;
}

.fourth-contend .map-bottom{
	position: relative;
	left: 35%;
	width: 0;
	border-top: 5px solid gray;
	transition: .9s;
	-webkit-transition: .9s;
}

.pic-box{
	position: relative;
	margin-left: 5px;
	display: inline-block;
	padding: 10px;
	width: 47%;
	height: 50%;
	box-shadow: 0 0 3px 1px #777;
	background-color: white;
	overflow: hidden;
}

.pic-box hgroup{
	position: absolute;
	top: 50%;
	right: 15%;
	transform: translate(15%, -50%);
	z-index: 1;
	cursor: pointer;
}

.pic-box h1,h2{
	text-align: center;
}

.pic-box hgroup h2{
	font-size: 1.5em;
	color: gray;
}

.fourth-contend .pic-box img{
	position: relative;
	display: block;
	width: 100%;
	height: 500px;
	transition: 1s;
	z-index: 2;
}

.fourth-contend .pic-box img:hover{
	margin: 0 -50%;
	cursor: pointer;
}

/* 第五部分 */
.fifth-contend{
	position: relative;
	height: 836px;
	background-image: url('../img/newhero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.fifth-contend .box{
	position: absolute;
	top: 30%;
	left: 50px;
}

.fifth-contend .box h1{
	text-shadow: 2px 2px 1px #eee;
	font: italic 3.5em 微软雅黑;
	color: #9c9197;
}

.fifth-contend .box p{
	text-shadow: 1px 1px 0px red;
	font: 1.5em/50px 微软雅黑;
	color: red;
}

.fifth-contend .box a{
	position: absolute;
	top: 200px;
	padding: 15px 80px;
	border: 1px solid rgba(255, 255, 255, .4);
	background-color: #5F3E26;
	font: 1.8em 微软雅黑;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	transition: .4s;
	-webkit-transition: .4s;
}

.fifth-contend .box a:hover{
	background-color: #ffffff;
	color: red;
	padding: 20px 85px;
}


/* 第六部分 */

.sixth-contend{
	position: relative;
	height:500px;
	background-image: url('http://overwatch.nos.netease.com/1/assets/img/bg-museum.jpg');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-size: 645px 1036px; */
}

.sixth-contend .baihe{
	height:500px;
	background-image: url('../img/baihe.png');
	/* background-size: 954px 1336px; */
	background-position: 8% 3%;
	background-repeat: no-repeat;
}

.sixth-contend .box{
	position: absolute;
	top: 50%;
	left:80%;
	transform: translate(-80%, -50%);
	-webkit-transform: translate(-80%, -50%);
}

.sixth-contend .box h1{
	text-shadow: 5px 5px 1px #BAC0D1;
	font: italic 3.5em 微软雅黑;
	color: #3C5C85;
}

.sixth-contend .box p{
	font: 1.5em/50px 微软雅黑;
	color: #3C5C85;
}

.sixth-contend .box a{
	position: absolute;
	/* top: 200px; */
	padding: 5px 50px;
	border: 1px solid rgba(255, 255, 255, .4);
	background-color: #C5CCD6;
	font: 1.4em 微软雅黑;
	color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	transition: .4s;
	-webkit-transition: .4s;
}

.sixth-contend .box a:hover{
	background-color: #ffffff;
	color: red;
	padding: 10px 45px;
}


/* 页尾 */
.footer{
	position: relative;
	height: 328px;
	background-color: #202020;
}

.fedback{
	/* padding: 20px 0px 0px 400px; */
	position: relative;
	height: 20%;
	color: #ffffff;
}

.fedback-box{
	position: absolute;
	left: 25%;
	bottom: 0;
}

.fedback-box span{
	margin-left: 20px;
}

.fedback span img{
	position: relative;
	top: 10px;
}

.fedback-box span a{
	/* font-weight: bold; */
	margin-left: 10px;
	font-size: .9em;
	text-decoration: none;
	color: gray;
}

.fedback-box span a:hover{
	color: #ffffff;
}

.specifi{
	height: 60%;
}

.specifi .specifi-box{
	margin: 0 15% 0 25%;
	height: 100%;
}

.blizzard{
	position: relative;
	float: left;
	top: 30%;
	width: 20%;
	height: 100%;
}

.wangyi{
	position: relative;
	float: left;
	top: 50%;
	width: 20%;
	height: 100%;
}

.specifi-box-article{
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
}

.specifi-box-article h4,
.specifi-box-article p,
.specifi-box-article a,
.specifi-box-article span{
	font-size: .7em;
	text-decoration: none;
	color: gray;
}

.specifi-box-article h4 {
	display: block;
	margin-top: 5px;
}

.specifi-box-article p {
	display: block;
	margin-top: 13px;
}

.specifi-box-article h4 a{
	font-size: 1em;
}

.specifi-box-article a:hover{
	color: #ffffff;
	transition: .6s;
	-webkit-transition: .6s;
}

.specifi-box-article span img{
	/* position: relative; */
	margin-top: 5px;
	margin-left: 2px;
}

.tips{
	position: relative;
	margin: 0 20%;
	height: 20%;
}

.tips-box{
	position: absolute;
	bottom: 0;
	padding-top: 1%;
	border-top: 1px solid gray;
	width: 100%;
}

.tips-box p{
	font-size: .6em;
	color: gray;
	text-align: center;
}