/* CSS Document 
use for:www.18183.com
version:1.0
Data:2017/12/09
Author: MingShined
*/


/* icon */

.header .oldman,
.header .btn-wrap .btn,
.header .btn-wrap .hat,
.header .btn-wrap .lightbox,
.header .btn-wrap .car,
.content-sd .bell,
.content-sd .sign,
.content-sd .prize-list .list,
.content-sd .part-wrap .right-part .btn-draw,
.content-sd .right-part .btn-draw .glove,
.header .oldman span.gift,
.home-box .left-part .btn-send .lightbox,
.content-sd .beauty-box .btn-play {
    background: url('../images/icon.png') no-repeat;
}






/* icon2 */

.main .content-yd .flame span,
.content-yd .test-box .test-rule,
.content-yd .lion,
.home-box .left-part .btn-send {
    background: url('../images/icon2.png') no-repeat;
}






/* 头部 */

.header {
    height: 1000px;
    background: url('../images/header_bg.jpg') center top no-repeat;
    overflow: hidden;
}

.header h1,
.header h2 {
    font-size: 0;
    opacity: 0;
}

.header .logo-wrap {
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 1300px;
}

.header .slogan-wrap,
.header .btn-wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.header .sologan-yd {
    animation-duration: 1.5s;
}

.header .oldman {
    position: absolute;
    /* left: 800px; */
    right: -1000px;
    margin: 0 auto;
    top: -67px;
    width: 353px;
    height: 339px;
    background-position: -1151px -20px;
    animation: fly 8s ease-in-out;
}

@keyframes fly {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(-300%);
    }
    70% {
        transform: translateX(-300%);
        opacity: 1;
    }
    75% {
        transform: translateX(-300%);
        opacity: 1;
    }
    80% {
        transform: translateX(-300%);
        opacity: 1;
    }
    85% {
        transform: translateX(-300%) rotate(90deg);
        opacity: 1;
    }
    100% {
        transform: translate(-300%, -300%);
        opacity: 0;
    }
}

.header .oldman span.gift {
    position: absolute;
    left: 65px;
    bottom: -70px;
    display: block;
    width: 80px;
    height: 88px;
    background-position: -1406px -499px;
    animation: giftDown1 3s ease-in-out;
    opacity: 0;
}

.header .oldman span:nth-child(2n) {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    animation-delay: 1s;
    animation: giftDown2 3s ease-in-out;
}

.header .oldman span:nth-child(3n- 2) {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    animation: giftDown3 3s ease-in-out;
}

.header .oldman span:nth-child(2n+1) {
    -webkit-transform: translateX(50px) rotate(-10deg);
    transform: translateX(50px) rotate(-10deg);
}

.header .oldman span.d1 {
    animation-delay: 2.1s;
}

.header .oldman span.d2 {
    animation-delay: 3s;
}

.header .oldman span.d3 {
    animation-delay: 1.7s;
}

.header .oldman span.d4 {
    animation-delay: 0.5s;
}

.header .oldman span.d5 {
    animation-delay: 2.5s;
}

.header .oldman span.d6 {
    animation-delay: 0.9s;
}

.header .oldman span.d7 {
    animation-delay: 3.4s;
}

.header .oldman span.d8 {
    animation-delay: 1.3s;
}

@-webkit-keyframes giftDown1 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translateY(400px) rotate(50deg);
        opacity: 1;
    }
}

@keyframes giftDown1 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translateY(400px) rotate(50deg);
        opacity: 1;
    }
}

@-webkit-keyframes giftDown2 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translate(350px, 450px) rotate(-50deg);
        opacity: 1;
    }
}

@keyframes giftDown2 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translate(350px, 450px) rotate(-50deg);
        opacity: 1;
    }
}

@-webkit-keyframes giftDown3 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translate(-250px, 350px) rotate(-50deg);
        opacity: 1;
    }
}

@keyframes giftDown3 {
    from {
        opacity: 0;
    }
    to {
        transform: scale(.6) translate(-250px, 350px) rotate(-50deg);
        opacity: 1;
    }
}

.header .btn-wrap {
    height: 92px;
    top: 100px;
}

.header .btn-wrap .btn {
    position: relative;
    z-index: 10;
}

.header .btn-wrap .btn-sd {
    width: 208px;
    height: 92px;
    background-position: -1151px -619px;
    animation-delay: 2s;
}

.header .btn-wrap .btn-sd:hover {
    background-position: -1151px -731px;
}

.header .btn-wrap .btn-yd {
    margin-left: 80px;
    width: 208px;
    height: 92px;
    background-position: -936px -725px;
    animation-delay: 2.5s;
}

.header .btn-wrap .btn-yd:hover {
    background-position: -20px -837px;
}

.header .btn-wrap .btn-sd .hat,
.header .btn-wrap .btn-yd .lightbox {
    display: block;
    position: absolute;
}

.header .btn-wrap .btn-sd .hat {
    top: -8px;
    right: -25px;
    width: 76px;
    height: 91px;
    background-position: -1406px -379px;
}

.header .btn-wrap .btn-yd .lightbox {
    right: -32px;
    top: 6px;
    width: 79px;
    height: 77px;
    background-position: -1379px -619px;
}

.header .btn-wrap .car {
    position: absolute;
    top: -202px;
    width: 1111px;
    height: 494px;
    background-position: -20px -20px;
    z-index: 9;
    animation: carMove 5s;
    opacity: 0;
    animation-delay: 5s;
}

@-webkit-keyframes carMove {
    0% {
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    85% {
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}

@-ms-keyframes carMove {
    0% {
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    85% {
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}

@-moz-keyframes carMove {
    0% {
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    85% {
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}

@keyframes carMove {
    0% {
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    85% {
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}


/* 主体 */

.main {
    height: auto;
    background: url('../images/main_bg.jpg') center top no-repeat;
}







/* 圣诞专场 */

.main .content {
    position: relative;
    top: -200px;
}

.main .content-sd {
    display: none;
}

.content-sd .stock-box {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 767px;
    background: url('../images/sd_bg1.png') center top no-repeat;
}

.content-sd .beauty-box {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 1200px;
    height: 767px;
    background: url('../images/sd_bg2.png') center top no-repeat;
}

.content-sd .bell {
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 46px;
    height: 73px;
    background-position: -1104px -534px;
    animation: 2s bellSwing ease-in-out infinite alternate;
    transform-origin: 23px 0;
}

@-ms-keyframes bellSwing {
        from {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

}

@-moz-keyframes bellSwing {
        from {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

}

@-webkit-keyframes bellSwing {
        from {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

}


@keyframes bellSwing {
    from {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

.content-sd .beauty-box .beauty-time {
    position: absolute;
    top: 265px;
    right: 140px;
    font-size: 28px;
    color: #ffb72d;
}

.content-sd .beauty-box .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -117px;
    margin-top: -50px;
    width: 235px;
    height: 100px;
    background-position: -1151px -499px;
}

.content-sd .beauty-box .btn-play:hover {
    background-position: -1151px -379px;
}

.content-sd .beauty-box .beauty {
    position: relative;
    top: 265px;
    width: 942px;
    height: 312px;
    margin: 0 auto;
}

.content-sd .beauty-box .beauty ul li {
    float: left;
    margin: 7px 0 0 14px;
    width: 135px;
    height: 65px;
    cursor: pointer;
    border: 3px solid #fff;
}

.content-sd .beauty-box .beauty ul li:hover,
.content-sd .beauty-box .beauty ul li.on {
    border: 3px solid #e2285e;
}

.content-sd .beauty-box .beauty ul li img {
    display: block;
    width: 100%;
    height: 100%;
}

.content-sd .part-wrap {
    position: relative;
    top: 170px;
    margin: 0 auto;
    width: 960px;
    height: 450px;
}

.content-sd .sign {
    width: 451px;
    height: 171px;
    background-position: -20px -534px;
    cursor: pointer;
}

.content-sd .sign:hover {
    background-position: -491px -534px;
}

.content-sd .prize-list {
    position: relative;
    top: 25px;
    width: 450px;
    height: 300px;
}

.content-sd .prize-list .list {
    position: relative;
    float: left;
    margin: 29px 0 0 21px;
    width: 122px;
    height: 107px;
    background-position: -962px -534px;
    cursor: pointer;
}

.content-sd .prize-list .list .prize-pic {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 33px;
    left: 30px;
    bottom: 15px;
}

.content-sd .prize-list .list .prize-name {
    display: block;
    text-align: center;
    padding: 5px 0 0 30px;
    font-size: 14px;
    color: #c91d4f;
}

.content-sd .part-wrap .right-part .btn-draw {
    margin-top: 50px;
    width: 438px;
    height: 92px;
    background-position: -20px -725px;
    cursor: pointer;
    text-align: center;
    font: 18px/82px MFYueYuan;
    color: #c91d4f;
}

.content-sd .part-wrap .right-part .btn-draw:hover {
    background-position: -478px -725px;
}

.content-sd .part-wrap .right-part .btn-draw .num {
    margin-right: 25px;
}


.content-sd .right-part .btn-draw .glove {
    display: block;
    width: 65px;
    height: 77px;
    background-position: -1379px -731px;
    animation: 2s gloveMove ease-in-out alternate infinite;
}

@-webkit-keyframes gloveMove {
    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
@-ms-keyframes gloveMove {
    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
@-moz-keyframes gloveMove {
    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes gloveMove {
    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}






/* 元诞专场 */

.main .content-yd {
    display: none;
    height: 2173px;
}

.main .content-yd .flame {
    position: relative;
    top: 55px;
    margin: 0 auto;
    width: 790px;
    height: 111px;
}

.main .content-yd .flame>span {
    display: block;
}

.main .content-yd .flame span.left {
    width: 43px;
    height: 111px;
    background-position: -219px -468px;
    animation: 2s flameSwing1 ease-in-out infinite alternate;
    transform-origin: 37px top;
}

.main .content-yd .flame span.right {
    width: 43px;
    height: 105px;
    background-position: -282px -468px;
    animation: 2.5s flameSwing2 ease-in-out infinite alternate;
    transform-origin: 36px 0px;
}

@-ms-keyframes flameSwing1 {
    from {
        transform: rotate(-25deg);
    }to {
        transform: rotate(25deg);
    }
}

@-moz-keyframes flameSwing1 {
    from {
        transform: rotate(-20deg);
    }to {
        transform: rotate(25deg);
    }
}


@-webkit-keyframes flameSwing1 {
    from {
        transform: rotate(-25deg);
    }to {
        transform: rotate(25deg);
    }
}


@keyframes flameSwing1 {
    from {
        transform: rotate(-25deg);
    }to {
        transform: rotate(25deg);
    }
}

@-moz-keyframes flameSwing2 {
    from {
        transform: rotate(25deg);
    }to {
        transform: rotate(-25deg);
    }
}

@-ms-keyframes flameSwing2 {
    from {
        transform: rotate(25deg);
    }to {
        transform: rotate(-25deg);
    }
}

@-webkit-keyframes flameSwing2 {
    from {
        transform: rotate(25deg);
    }to {
        transform: rotate(-25deg);
    }
}

@keyframes flameSwing2 {
    from {
        transform: rotate(25deg);
    }to {
        transform: rotate(-25deg);
    }
}

.content-yd .test-box,
.content-yd .home-box,
.content-yd .more-box {
    position: relative;
    width: 1200px;
    height: 767px;
    margin: 0 auto;
}

.content-yd .test-box {
    background: url('../images/yd_bg1.png') center top no-repeat;
}

.content-yd .home-box {
    top: 100px;
    background: url('../images/yd_bg2.png') center top no-repeat;
}

.content-yd .more-box {
    top: 180px;
    height: 539px;
    background: url('../images/yd_bg3.png') center top no-repeat;
}

.content-yd .test-box .part-wrap {
    position: relative;
    top: 155px;
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

.content-yd .test-box .test-info li {
    float: left;
    width: 97px;
    height: 32px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
}

.content-yd .test-box .test-info li.time,
.content-yd .test-box .test-info li.num {
    text-indent: 15px;
}

.content-yd .test-box .test-rule {
    padding: 15px 17px;
    margin: 50px 0 0 30px;
    width: 369px;
    height: 176px;
    background-position: -478px -9px;
    /* background: none; */
    font-size: 14px;
    color: #fff;
    overflow: hidden;
}

.content-yd .test-box .test-rule ul {
    position: relative;
    width: 10000px;
}

.content-yd .test-box .test-rule ul li {
    float: left;
    width: 386px;
    height: 176px;
}

.content-yd .test-box .test-rule .title {
    margin-bottom: 10px;
}

.content-yd .test-box .test-rule .answer {
    margin-top: 20px;
    line-height: 15px;
    cursor: pointer;
}

.content-yd .test-box .test-rule .answer.active span {
    border: 3px solid #fcb705;
}

.content-yd .test-box .test-rule .answer span {
    float: left;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.content-yd .test-box .left-part .star-test {
    position: relative;
    margin: 40px 0 0 10px;
    width: 438px;
    height: 92px;
    background: url('../images/btn_startest.png') center top no-repeat;
    cursor: pointer;
    font: 30px/82px 微软雅黑;
    color: #753200;
    text-align: center;
}

.content-yd .test-box .left-part .star-test:hover {
    background: url('../images/btn_startest_h.png');
}

.content-yd .test-box .left-part .star-test:hover .lion {
    transform: scale(1.1);
}

.content-yd .lion {
    position: absolute;
    top: -65px;
    right: -70px;
    display: block;
    width: 179px;
    height: 151px;
    background-position: -20px -468px;
    transform-origin: 0 bottom;
}

.content-yd .test-box .rank {
    position: relative;
    top: 55px;
    width: 450px;
    height: 270px;
    overflow: hidden;
}

.content-yd .test-box .rank li {
    width: 450px;
    height: 45px;
    text-align: left;
    font: 14px/45px 微软雅黑;
    color: #fff;
    border-bottom: 1px solid #1a2b92;
}

.content-yd .test-box .rank li:last-child {
    border-bottom: none;
}

.content-yd .test-box .rank li span {
    float: left;
    text-indent: 40px;
    width: 130px;
    height: 45px;
}

.content-yd .test-box .rank li span.tc {
    text-align: center;
}

.content-yd .test-box .rank li span.nickname {
    text-indent: 10px;
    width: 175px;
    text-align: center;
    overflow: hidden;
}

.content-yd .test-box .rank li span i {
    float: left;
    position: absolute;
    left: 32px;
    top: 16px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: red;
}

.page {
    position: relative;
    top: 95px;
    margin: 0 auto;
    width: 345px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
}

.page a {
    min-width: 16px;
    height: 13px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    display: inline-block;
}

.page a:hover,
#firstPage:hover,
#lastPage:hover,
#prePage:hover,
#nextPage:hover {
    color: #feb904;
}

#firstPage,
#lastPage {
    width: 50px;
    color: #fff;
}


#prePage,
#nextPage {
    width: 70px;
    color: #fff;
}

.page .current {
    color: #feb904;
}

.home-box .part-wrap {
    position: relative;
    top: 210px;
    width: 960px;
    height: 350px;
    margin: 0 auto;
}

.home-box .part-wrap .left-part {
    width: 320px;
}

.home-box .left-part .text-box {
    padding: 0 30px;
    display: block;
    width: 273px;
    height: 185px;
    margin: 28px auto 30px;
    background-color: transparent;
    overflow: hidden;
    border: 0;
    font: 14px/30px 微软雅黑;
    color: #fff;
}

textarea:-webkit-placeholder {
　　color: #333;
}


.home-box .left-part .btn-send {
    position: relative;
    left: -15px;
    width: 208px;
    height: 92px;
    margin: 0 auto;
    background-position: -478px -216px;
    cursor: pointer;
}

.home-box .left-part .btn-send:hover {
    background-position: -478px -328px;
}

.home-box .left-part .btn-send:hover .lightbox {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.home-box .left-part .btn-send .lightbox {
    position: absolute;
    right: -32px;
    top: 6px;
    width: 79px;
    height: 77px;
    background-position: -1379px -619px;
}

.home-box .right-part .message-wall {
    position: relative;
    top: 6px;
    right: 4px;
    width: 592px;
    height: 338px;
    border-radius: 7px;
}

.home-box .draggable {
    position: absolute;
    margin: 0 10px 10px 0;
    padding: 20px 15px;
    float: left;
    width: 200px;
    /* height: 140px; */
    background: #960731;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 0 15px 5px #e83466 inset;
    cursor: pointer;
}

.home-box .draggable.is-pointer-down {
    cursor: pointer;
}

.home-box .draggable .nickname {
    margin-top: 10px;
}

.home-box .draggable span {
    display: block;
    position: absolute;
    left: -19px;
    top: -6px;
    width: 32px;
    height: 36px;
    background: url('../images/flame.png') center top no-repeat;
    background-size: 100% 100%;
}

.more-box .list {
    position: relative;
    top: 150px;
    width: 1011px;
    margin: 0 auto;
}

.more-box .list ul li {
    position: relative;
    float: left;
    margin-left: 30px;
    overflow: hidden;
}

.more-box .list ul li .details {
    /* display: none; */
    position: absolute;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    background: url('../images/details_bg.png') center top no-repeat;
    font: 14px 微软雅黑;
    text-align: center;
    color: #fff;
    cursor: pointer;
}





/* 弹窗 */

.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 21;
}

.mask .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
    background: url('../images/close.png') no-repeat;
    cursor: pointer;
    -ms-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.mask .close:hover {
    background: url('../images/close_hover.png');
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mask .btn-sure {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -104px;
    bottom: 50px;
    width: 208px;
    height: 92px;
    background: url('../images/btn_sure.png') center top no-repeat;
}

.mask .btn-sure:hover {
    background: url('../images/btn_sure_h.png');
}

.mask .item {
    display: none;
    position: absolute;
    width: 500px;
    height: 350px;
    margin: -175px 0 0 -250px;
    left: 50%;
    top: 50%;
}





/* 时间到 */

.mask .item1 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 24px/200px 微软雅黑;
    color: #fff;
}




/* 中奖弹窗 */

.mask .item2 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 24px 微软雅黑;
    color: #fff;
}

.mask .item2 .lottery-win {
    position: relative;
    top: 105px;
}




/* 未中奖弹窗 */

.mask .item3 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 24px 微软雅黑;
    color: #fff;
}

.mask .item3 .lottery-lose {
    position: relative;
    top: 105px;
}





/* 活动结束弹窗 */


/* 抽奖次数不足 */


/* 记录时间 */


/* 已签到 */


/* 玩过游戏 */


/* 发送成功 */


/* 发送失败 */

.mask .item4,
.mask .item5,
.mask .item6,
.mask .item7,
.mask .item8,
.mask .item9,
.mask .item10,
.mask .item11,
.mask .item12,
.mask .item13,
.mask .item14,
.mask .item15,
.mask .item16,
.mask .item17 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 24px/254px 微软雅黑;
    color: #fff;
}