/* 分页导航和全局部分 */

.wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}

.wrap > input,
.wrap > input + a {
	position: fixed;
	bottom: 0;
	width: 33.3%;
	height: 30px;
	cursor: pointer;
	background: skyblue;
}

.wrap > input {
	z-index: 99;
	opacity: 0;
}

.wrap > a {
	font: 600 1.2em 微软雅黑;
	text-align: center;
	line-height: 30px;
	z-index: 1;
	color: #fff;
}

.wrap > input:checked + .aone:after,
.wrap > input:checked + .atwo:after,
.wrap > input:checked + .athree:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	bottom: 100%;
	left: calc(50% - 20px);
	border: 20px solid transparent;
	border-bottom: 20px solid #FF143A;
}

.wrap > input:checked + .atwo:after {
	border-bottom: 20px solid #999999;
}

.wrap > input:checked + .athree:after {
	border-bottom: 20px solid #252B5B;
}

.wrap input:hover + a {
	background: #ddd;
}

.wrap input:checked + a,
.warp input:checked:hover + a {
	background: lightblue;
}

.wrap >#page01,
.wrap >#page01 + a {
	left: 0%;
}

.wrap #page02,
.wrap #page02 + a {
	left: 33.3%;
}

.wrap #page03,
.wrap #page03 + a {
	left: 66.6%;
}
/* .wrap #page05,
.wrap #page05 + a {
	left: 100%;
} */



/* content部分 */
.content,.content .sec {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sec {
	-o-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.sec .icoin {
	position: absolute;
	left: calc(50% - 100px);
	top: 0;
	width: 130px;
	height: 130px;
	background-color: #999;
	transform: translateY(-50%) rotate(45deg);
}

.sec-two,.sec-four {
	background-color: #eee;
}

.sec h1 {
	position: absolute;
	top: 10%;
	left: 8%;
	width: 80%;
	font: 4.5em "Josefin Slab","Myriad Pro",Arial,sans-serif;
	text-align: center;
	font-weight: 900;
	color: #e23a6e;
}

.sec > p {
	position: absolute;
	padding: 0;
	margin-top: 10px;
	top: 20%;
	left: 18%;
	width: 60%;
	font: 1.5em "Josefin Slab","Myriad Pro",Arial,sans-serif;
	text-align: center;
	font-weight: 200;
	color: #999;
}

#page01:checked~ .sec{
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
#page02:checked~ .content .sec{
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);	
	transform: translateY(-100%) rotate(360deg);
}
#page03:checked~ .content .sec{
	-o-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-webkit-transform: translateY(-200%);	
	transform: translateY(-200%);
}
#page04:checked~ .content .sec{
	-o-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-webkit-transform: translateY(-300%);	
	transform: translateY(-300%);
}
/* #page05:checked~ .content .sec{
	-o-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-webkit-transform: translateY(-400%);	
	transform: translateY(-400%);
} */

#page01:checked~ .content .sec-one h1,
#page02:checked~ .content .sec-two h1,
#page03:checked~ .content .sec-three h1,
#page04:checked~ .content .sec-four h1,
/* #page05:checked~ .content .sec-five h1 { */
	animation: titleFrames .6s ease-in-out .2s /* backwards */;
}

#page01:checked~ .content .sec-one > p,
#page02:checked~ .content .sec-two > p,
#page03:checked~ .content .sec-three > p,
#page04:checked~ .content .sec-four > p,
/* #page05:checked~ .content .sec-five p { */
	animation: pFrames .6s ease-out .2s /* backwards */;
}

@-o-keyframes titleFrames{
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-moz-keyframes titleFrames{
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes titleFrames{
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes titleFrames{
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@-o-keyframes pFrames{
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-moz-keyframes pFrames{
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes pFrames{
	from {
		opacity: 0;
		-o-transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);		
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		-o-transform: translateY(0);
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);		
		transform: translateY(0);
	}
}


@keyframes pFrames{
	from {
		opacity: 0;
		-o-transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		-o-transform: translateY(0);
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}


/* 七夕部分 */

/* .sec-one > span {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 5px;
	background-color: indianred;
	transition: 1.6s;
	transition-delay: 2s;
} */

.content .sec-one .t1 {
	position: absolute;
	top: 30%;
	left: 8%;
	width: 80%;
	font: 0em "Josefin Slab","Myriad Pro",Arial,sans-serif;
	text-align: center;
	font-weight: 900;
	color: #e23a6e;
}

#page01:checked~ .content .sec-one .t1 {
	animation: a 2.5s 1s ease-in-out;
}
#page01:checked~ .content .sec-one .moon {
	animation: moonFrames 2.5s 1s ease-in-out;
}

.moon {
	position: absolute;
	top: -60px;
	opacity: 0;
}

@keyframes moonFrames{
	0% {
		transform: translateY(-600px);
	}
/* 	25% {
		font-size: 3.5em;
		opacity: .5;
	} */
	50% {
		transform: translateX(0);
		opacity: 1;
	}
/* 	75% {
		font-size: 3.5em;
		opacity: .5;
	} */
	100% {
		transform: rotate(45deg);
		opacity: 0;
	}
}


@keyframes a{
	0% {
		opacity: 0;
		font-size: 3.5em;
		transform: rotateX(45deg);
	}
	25% {
		font-size: 3.5em;
		opacity: .5;
	}
	50% {
		font-size: 3.5em;
		opacity: 1;
	}
	75% {
		font-size: 3.5em;
		opacity: .5;
	}
	100% {
		font-size: 0;
		opacity: 0;
	}
}

.content .sec-one .t2 {
	position: absolute;
	top: 40%;
	left: 8%;
	width: 80%;
	font: 0 黑体;
	text-align: center;
	font-weight: 900;
	color: #e23a6e;
	transform: translateX(600px);
}

.flower {
	display: block;
	position: absolute;
	top: 36%;
	left: 8%;
	/* width: 80%; */
	/* transform: translateX(-600px); */
	opacity: 0;
}

#page01:checked~ .content .sec-one .t2 {
	animation: b 2.5s 3s;
}
#page01:checked~ .content .sec-one .flower {
	animation: flowerFrames 2.5s 3s;
}

@keyframes flowerFrames{
	0% {
		transform: translateX(-600px);
		opacity: 0;
	}
	50% {
		transform: translateX(600px) rotate(180deg);
		opacity: 1;
	}
	100% {
		transform: translateX(600px);
		opacity: 0;
		transform: rotate(45deg);
	}
}

@keyframes b{
	0% {
		transform: translateX(600px);
		font-size: 3.5em;
		opacity: 0;
	}
/* 	25% {
		font-size: 3.5em;
		opacity: .5;
	} */
	50% {
		transform: translateX(0);
		font-size: 3.5em;
		opacity: 1;
		transform: rotate(360deg);
	}
/* 	75% {
		font-size: 3.5em;
		opacity: .5;
	} */
	100% {
		transform: rotate(45deg);
		font-size: 0em;
		opacity: 0;
	}
}

.content .sec-one .t3 {
	position: absolute;
	top: 40%;
	left: 8%;
	width: 80%;
	font: 0 微软雅黑;
	text-align: center;
	font-weight: 600;
	color: #e23a6e;
	transform: translateX(-600px);
}

.accept {
	display: block;
	position: absolute;
	top: 36%;
	right: 8%;
	/* width: 80%; */
	/* transform: translateX(-600px); */
	opacity: 0;
}

#page01:checked~ .content .sec-one .t3 {
	animation: c 2.5s 5s;
}
#page01:checked~ .content .sec-one .accept {
	animation: acceptFrames 2.5s 5s;
}

@keyframes acceptFrames{
	0% {
		transform: translateX(600px);
		opacity: 0;
	}
	50% {
		transform: translateX(-600px) rotate(180deg);
		opacity: 1;
	}
	100% {
		transform: translateX(-600px);
		opacity: 0;
		transform: rotate(45deg);
	}
}


@keyframes c{
	0% {
		transform: translateX(-600px);
		font-size: 3.5em;
		opacity: 0;
	}
	50% {
		transform: translateX(0);
		font-size: 3.5em;
		opacity: 1;
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(-45deg);
		font-size: 0em;
		opacity: 0;
	}
}

.content .sec-one .t4 {
	position: absolute;
	top: 30%;
	left: 8%;
	width: 80%;
	font: 0 微软雅黑;
	text-align: center;
	font-weight: 600;
	color: #e23a6e;
	vertical-align: middle;
}

#page01:checked~ .content .sec-one .t4 {
	animation: d 2.5s 7s;
}

@keyframes d{
	0% {
		font-size: 10em;
		opacity: 0;
	}
/* 	25% {
		font-size: 3.5em;
		opacity: .5;
	} */
	50% {
		font-size: 10em;
		opacity: 1;
		transform: rotateX(360deg);
	}
/* 	75% {
		font-size: 10em;
		opacity: .5;
	} */
	100% {
		font-size: 10em;
		opacity: 0;
	}
}

.content .sec-one .t5 {
	position: absolute;
	top: 50%;
	left: 8%;
	width: 80%;
	font: 0 微软雅黑;
	text-align: center;
	font-weight: 600;
	color: #e23a6e;
	vertical-align: middle;
}

#page01:checked~ .content .sec-one .t5 {
	animation: e 2.5s 7s;
}

@keyframes e{
	0% {
		font-size: 10em;
		opacity: 0;
	}
/* 	25% {
		font-size: 3.5em;
		opacity: .5;
	} */
	50% {
		font-size: 10em;
		opacity: 1;
		transform: rotateY(360deg);
	}
/* 	75% {
		font-size: 10em;
		opacity: .5;
	} */
	100% {
		font-size: 10em;
		opacity: 0;
	}
}

/* 爱心 */
.heart-shape{  
    position: relative;  
    top: 40%;
    left: calc(50% - 140px);
    width: 200px;  
    height: 200px;  
    -webkit-transform: rotate(45deg);  
    -moz-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    transform: rotate(45deg);  
    background-color: red;
    opacity: 0;
}  
.heart-shape:before,  
.heart-shape:after{  
    position: absolute;  
    width: 200px;  
    height: 200px;  
    content: '';  
    -webkit-border-radius: 50%;  
    -moz-border-radius: 50%;  
    -o-border-radius: 50%;  
    border-radius: 50%;  
    background-color: red;  
}  
.heart-shape:before{  
    bottombottom: 0px;  
    left: -90px;  
}  
.heart-shape:after{  
    top: -90px;  
    rightright: 0px;  
}

#page01:checked~ .content .sec-one .heart-shape {
	animation: heart 3s 8s ease-in;
}

@keyframes heart{
	0% {
		opacity: 0;
		/* transform: translateY(20px); */
	}
/* 	25% {
		font-size: 3.5em;
		opacity: .5;
	} */
	50% {
		opacity: 1;
		/* transform: translateY(20px); */
	}
/* 	75% {
		font-size: 10em;
		opacity: .5;
	} */
	100% {
		opacity: 0;
		/* transform: translateY(-40px); */
	}
}

.content .sec-two .i {
	position: relative;
	margin: 250px auto 0;
	width: 1200px;
	height: 300px;
	/* background-color: red; */
	box-sizing: border-box;
}

.content .sec-two .you {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 300px;
	/* background-color: red; */
	box-sizing: border-box;
}

.content .sec-two .i .pic-box,
.content .sec-two .you .pic-box  {
	/* width: 50%; */
	padding-left: 150px;
	box-sizing: border-box;
	/* background-color: #999; */
	border-radius: 30px;
	/* box-shadow: 0 0 30px 2px #92c197; */
}

.content .sec-two .i .article-box,
.content .sec-two .you .article-box
 {
	/* width: 50%; */
	padding-top: 99px;
	height: 100%;
	text-align: center;
	background-color: #fff;
	font: 1.5em 微软雅黑;
	box-sizing: border-box;
	border-radius: 30px;
	box-shadow: 0 0 30px 2px #92c197;
	text-shadow: 10px 10px 10px red;
}

.content .sec-two .i .article-box p,
.content .sec-two .you .article-box p {
	padding-top: 15px;
}

#page02:checked~ .content .sec-two .row .thing01 {
	animation: thing01 10s ease-in-out;
}

@keyframes thing01 {
	0% {
		transform: translateY(-800px) rotateZ(180deg);
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}

.content .sec-two .row .thing02 {
	/* transform: translateX(1000px); */
}

#page02:checked~ .content .sec-two .row .thing02 {
	animation: thing02 10s ease-in-out;
}

@keyframes thing02 {
	0% {
		/* transform: translateX(1000px); */
		opacity: 1;
		transform: rotate(0deg);
	}
	25% {
		opacity: 1;
		transform: rotate(10deg);
	}
	50% {
		opacity: 1;
		transform: rotate(-10deg);
	}
	75% {
		opacity: 1;
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
		opacity: 0;
	}
}

#page02:checked~ .content .sec-two .row .thing03 {
	animation: thing03 10s ease-in-out;
}

@keyframes thing03 {
	0% {
		/* transform: translateX(1000px); */
		opacity: 1;
		transform: rotate(0deg);
	}
	25% {
		opacity: 1;
		transform: rotate(-10deg);
	}
	50% {
		opacity: 1;
		transform: rotate(10deg);
	}
	75% {
		opacity: 1;
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
		opacity: 0;
	}
}

#page02:checked~ .content .sec-two .row .thing04 {
	animation: thing04 10s ease-in-out;
}

@keyframes thing04 {
	0% {
		transform: translateY(800px) rotateZ(180deg);
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translateX(0px);
		opacity: 0;
	}
}

.thing01,
.thing02,
.thing03,
.thing04 {
	opacity: 0;
}

.best {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 30%;
	font: 0em 宋体;
	text-align: center;
	opacity: 0;

}

#page02:checked~ .content .sec-two .best {
	animation: bestFrames 6s ease-in-out;
}

@keyframes bestFrames {
	0% {
		opacity: 1;
		transform: rotateX(180deg);
		font-size: 3.5em;
	}
	50% {
		opacity: 1;
		font-size: 3.5em;
	}
	75% {
		opacity: 1;
		font-size: 3.5em;
	}
	100% {
		opacity: 0;
		/* transform: rotateZ(360deg); */
		font-size: 0em;
	}
}


#page03:checked~ .content .sec-three .qixi01 {
	animation: qixiFrames01 3s ease-in-out;
}

@keyframes qixiFrames01 {
	from {
		transform: translateX(-500px);
	}
	to {
		transform: translateY(0);
	}
}

#page03:checked~ .content .sec-three .qixi02 {
	animation: qixiFrames02 3s 1s ease-in-out forwards;
	transform: translateY(500px);
}

@keyframes qixiFrames02 {
	from {
		transform: translateY(500px);
	}
	to {
		transform: translateY(0);
	}
}

.letter {
	position: absolute;
	right: 200px;
	top: 50px;
}

#page03:checked~ .content .sec-three .letter {
	animation: letter 3s 2s ease-in-out forwards;
	transform: translateY(-250px);
}

@keyframes letter {
	from {
		transform: translateY(-250px);
	}
	to {
		transform: translateY(0);
		opacity: 0;
	}
}

.love {
	position: absolute;
	right: 0px;
	top:55px;
}

#page03:checked~ .content .sec-three .love {
	animation: love 2s 4s ease-in-out forwards;
	/* transform: translateY(-440px); */
	opacity: 0;
}

@keyframes love {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(1.2);
		opacity: 0;
	}
}

.happy {
	position: absolute;
	right: 50px;
	top:35px;
}

#page03:checked~ .content .sec-three .happy {
	animation: happy 2s 5.5s ease-in-out forwards;
	/* transform: translateY(-440px); */
	opacity: 0;
}

@keyframes happy {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(1.2);
		opacity: 0;
	}
}