/* CSS Document 
use for:www.18183.com
version:1.0
Data:2017/12/14
Author: MingShined
*/


/* icon */

.section1 .animate-wrap span,
.section1 .btn-wrap a,
.swiper-slide .btn-nextpage,
.section2 .sign-wrap a,
.section2 .lottery a,
.section3 .wrap .btn-play,
.section5 .draggable span,
.section5 .message-text .btn-send,
.section6 .wish,
.section6 .lion,
.section6 .stage,
.section6 .btn-wrap a,
.section1 .animate-wrap span.oldman i,
.share-mask .share {
    background: url("../images/icon.png") no-repeat;
    background-size: 18.29rem 12.2rem;
}




/* swiper */

html,
body {
    position: relative;
    height: 100%;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide .btn-nextpage {
    display: block;
    position: absolute;
    bottom: 0.3rem;
    left: calc(50% - 0.75rem);
    width: 1.5rem;
    height: 0.94rem;
    background-position: -0.2rem -11.06rem;
    animation: nextpage 1.5s infinite alternate;
}

.swiper-slide .wrap {
    position: relative;
    top: 1rem;
    left: 0.07rem;
    margin: 0 auto;
    width: 7.83rem;
    height: 10.61rem;
}

@keyframes nextpage {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(0);
    }
}




/* 主体 */


/* 第一屏 */

.section1 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section1 .logo {
    width: 80%;
    margin: 0.2rem auto 0;
    text-align: left;
}

.section1 .logo img {
    display: inline-block;
    width: 0.79rem;
    height: 0.88rem;
}

.section1 .slogan {
    text-align: center;
}

.section1 .slogan img {
    display: inline-block;
}

.section1 .slogan img:first-child {
    width: 2.24rem;
    height: 2.94rem;
}

.section1 .slogan img:nth-child(2) {
    width: 1.87rem;
    height: 3.02rem;
}

.section1 .slogan img:last-child {
    width: 2.11rem;
    height: 2.7rem;
}

.section1 .animate-wrap {
    height: 5.5rem;
    margin-top: 1rem;
    text-align: center;
}

.section1 .animate-wrap span {
    display: inline-block;
}

.section1 .animate-wrap span.oldman {
    position: absolute;
    margin-top: -1rem;
    left: calc(50% - 1.76rem);
    width: 3.53rem;
    height: 3.39rem;
    background-position: -14.56rem -0.2rem;
    transform: translateX(200%);
    animation: fly 7s;
}

@keyframes fly {
    0% {
        transform: translateX(200%);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: rotate(20deg) translateX(0);
    }
    35% {
        transform: rotate(0deg) translateX(0);
    }
    40% {
        transform: rotate(0deg) translateX(0);
    }
    50% {
        transform: rotate(0deg) translateX(0);
    }
    60% {
        transform: rotate(0deg) translateX(0);
    }
    70% {
        transform: rotate(0deg) translateX(0);
    }
    80% {
        transform: rotate(0deg) translateX(0);
    }
    95% {
        transform: rotate(90deg) translateX(0);
    }
    100% {
        transform: translateY(-200%) rotate(90deg);
    }
}

.section1 .animate-wrap span.oldman i {
    display: block;
    position: absolute;
    bottom: -0.72rem;
    left: 0.68rem;
    width: 0.8rem;
    height: 0.88rem;
    background-position: -16.87rem -7.34rem;
    opacity: 0;
}

@keyframes giftDown1 {
    from {
        transform: scale(.5);
        opacity: 1;
    }
    to {
        transform: scale(1.5) translate(-3rem, 5rem);
    }
}

@keyframes giftDown2 {
    from {
        opacity: 1;
        transform: scale(.5);
    }
    to {
        transform: scale(1.5) translate(-1rem, 5rem);
    }
}

@keyframes giftDown3 {
    from {
        opacity: 1;
        transform: scale(.5);
    }
    to {
        transform: scale(1.5) translate(2rem, 5rem) rotate(-45deg);
    }
}

@keyframes giftDown4 {
    from {
        opacity: 1;
        transform: scale(.5);
    }
    to {
        transform: scale(1.5) translate(3rem, 5rem) rotate(-45deg);
    }
}

.section1 .animate-wrap .oldman i.d1 {
    animation: giftDown1 2.3s;
    animation-delay: 2.3s;
}

.section1 .animate-wrap .oldman i.d2 {
    animation: giftDown1 2.3s;
    animation-delay: 4.4s;
}

.section1 .animate-wrap .oldman i.d3 {
    animation: giftDown2 2.3s;
    animation-delay: 2.6s;
}

.section1 .animate-wrap .oldman i.d4 {
    animation: giftDown2 2.3s;
    animation-delay: 4.1s;
}

.section1 .animate-wrap .oldman i.d5 {
    animation: giftDown3 2.3s;
    animation-delay: 2.9s;
}

.section1 .animate-wrap .oldman i.d6 {
    animation: giftDown3 2.3s;
    animation-delay: 3.8s;
}

.section1 .animate-wrap .oldman i.d7 {
    animation: giftDown4 2.3s;
    animation-delay: 3.2s;
}

.section1 .animate-wrap .oldman i.d8 {
    animation: giftDown4 2.3s;
    animation-delay: 3.5s;
}


.section1 .animate-wrap span.car {
    position: absolute;
    left: calc(50% - 4.9rem);
    width: 7.81rem;
    height: 4.95rem;
    background-position: -.2rem -.2rem;
    animation: carMove 3s forwards;
    animation-delay: 7s;
    opacity: 0;
}

@-webkit-keyframes carMove {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    90% {
        opacity: 1;
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    75% {
        opacity: 1;
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        opacity: 1;
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}

@keyframes carMove {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    90% {
        transform: translateX(0) rotate(-10deg);
        transform-origin: center bottom;
    }
    75% {
        transform: rotate(20deg) translateX(0);
        transform-origin: right bottom;
    }
    100% {
        opacity: 1;
        transform: rotate(0) translateX(0);
        transform-origin: center bottom;
    }
}

.section1 .btn-wrap {
    position: relative;
    text-align: center;
}

.section1 .btn-wrap a {
    display: inline-block;
    text-indent: -99em;
}

.section1 .btn-wrap a.btn-sd {
    width: 2.35rem;
    height: 1rem;
    background-position: -9.78rem -7.08rem;
    animation-delay: 7.5s;
}

.section1 .btn-wrap a.btn-yd {
    position: relative;
    top: 0.1rem;
    left: 0.45rem;
    width: 2.41rem;
    height: 0.92rem;
    background-position: -11.76rem -5.35rem;
    animation-delay: 8s;
}

/* 第二屏 */

.section2 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section2 .wrap {
    background: url('../images/sd_bg.png') center top no-repeat;
    background-size: cover;
}

.section2 .sign-wrap {
    position: relative;
    top: 2.4rem;
    text-align: center;
}

.section2 .sign-wrap a {
    display: inline-block;
    width: 5.28rem;
    height: 1.71rem;
    background-position: -.2rem -7.08rem;
}

.section2 .lottery {
    position: relative;
    top: 6.7rem;
    text-align: center;
}

.section2 .lottery a {
    padding-right: 1.2rem;
    display: inline-block;
    width: 5.35rem;
    height: 0.93rem;
    background-position: -6.21rem -5.35rem;
    text-align: right;
    box-sizing: border-box;
    font: 0.18rem/0.86rem MFYueYuan;
    color: #c91d4f;
}







/* 第三屏 */

.section3 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section3 .wrap {
    background: url('../images/beauty_bg.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section3 .startime-wrap {
    position: relative;
    top: 2.6rem;
    width: 56%;
    margin: 0 auto;
    font: 0.28rem Arial Regular;
    color: #ffb72d;
    text-align: right;
}

.section3 .pic-wrap {
    position: relative;
    left: 0.1rem;
    top: 3.05rem;
    width: 4.95rem;
    margin: 0 auto;
}

.section3 .pic-wrap li {
    float: left;
    margin: 0.1rem;
    width: 1.35rem;
    height: 0.59rem;
    border: 0.03rem solid #fff;
    box-sizing: border-box;
}

.section3 .pic-wrap li.on {
    border: 0.03rem solid #e2285e;
}

.section3 .pic-wrap li img {
    display: block;
    width: 100%;
    height: 100%;
}

.section3 .wrap .btn-play {
    position: absolute;
    left: 50%;
    top: 63%;
    width: 2.35rem;
    height: 1rem;
    background-position: -4.11rem -8.99rem;
    transform: translate(-50%, -63%);
}






/* 第四屏 */

.section4 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section4 .wrap {
    background: url('../images/test_bg.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section4 .test-info {
    position: relative;
    left: 1.7rem;
    top: 2.9rem;
    margin: 0 auto;
    /* width: 5rem; */
}

.section4 .test-info li {
    float: left;
    width: 1rem;
    font-size: 0.2rem;
    color: #fff;
}

.section4 .test-info li:first-child {
    width: 1.5rem;
}

.section4 .test-rule {
    position: relative;
    top: 4.1rem;
    left: -0.1rem;
    margin: 0 auto;
    width: 4.42rem;
    height: 2.74rem;
    background: url('../images/rule.png') center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    font-size: 0.24rem;
}

.section4 .test-rule ul {
    position: relative;
    width: 200rem;
}

.section4 .test-rule ul li {
    float: left;
    width: 4.46rem;
    height: 1.76rem;
}

.section4 .test-rule .title {
    margin-bottom: 0.1rem;
}

.section4 .test-rule .answer {
    margin-top: .4rem;
    line-height: .25rem;
}

.section4 .test-rule .answer.active span {
    border: 0.08rem solid #fcb705;
}

.section4 .test-rule .answer span {
    float: left;
    width: 0.08rem;
    height: 0.08rem;
    margin-right: 0.1rem;
    border: 3px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.section4 .star-test {
    position: relative;
    top: 5.1rem;
    left: 0.2rem;
    display: block;
    margin: 0 auto;
    width: 5.81rem;
    height: 1.53rem;
    background: url('../images/btn_test.png') center top no-repeat;
    background-size: cover;
    cursor: pointer;
    font: 0.4rem/1.92rem 微软雅黑;
    color: #753200;
    text-align: center;
    text-indent: -.7rem;
}






/* 第五屏 */

.section5 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section5 .wrap {
    background: url('../images/message_bg.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section5 .message-wall {
    position: relative;
    margin: 0 auto;
    top: 3.16rem;
    right: 0.04rem;
    width: 5.32rem;
    height: 4.28rem;
    border-radius: .07rem;
    /* background-color: #fff; */
}

.section5 .draggable {
    position: absolute;
    margin: 0 0.1rem 0.1rem 0;
    padding: 0.2rem 0.15rem;
    float: left;
    width: 3rem;
    background: #960731;
    border-radius: 0.08rem;
    font-size: 0.14rem;
    color: #fff;
    box-shadow: 0 0 0.15rem 0.05rem #e83466 inset;
    cursor: pointer;
}

.section5 .draggable.is-pointer-down {
    cursor: pointer;
}

.section5 .draggable .nickname {
    margin-top: 0.1rem;
}

.section5 .draggable span {
    display: block;
    position: absolute;
    left: -0.19rem;
    top: -0.06rem;
    width: 0.32rem;
    height: .38rem;
    background-position: -17.76rem -3.79rem;
}

.section5 .message-text {
    position: relative;
    margin: 0 auto;
    top: 3.3rem;
    width: 4.72rem;
    height: 2.1rem;
}

.section5 .message-text textarea {
    padding-top: 0.25rem;
    margin-top: 0.4rem;
    width: 100%;
    height: .7rem;
    background-color: transparent;
    border: none;
    outline-style: none;
    box-sizing: border-box;
    color: #fff;
}

.section5 .message-text .btn-send {
    display: block;
    width: 1.81rem;
    height: 0.92rem;
    margin: 0 auto;
    background-position: -11.22rem -8.99rem;
}






/* 第六屏 */

.section6 {
    background: url('../images/section_bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section6 .wish {
    margin: 1rem auto;
    width: 6.15rem;
    height: 2.89rem;
    background-position: -8.21rem -0.2rem;
}

.section6 .lion {
    position: relative;
    margin: 0 auto;
    width: 3rem;
    height: 3.35rem;
    background-position: -14.56rem -3.79rem;
    z-index: 10;
    animation-duration: 2s;
}

.section6 .stage {
    margin: -0.3rem auto 0;
    width: 3.9rem;
    height: 1.5rem;
    background-position: -5.68rem -7.08rem;
}

.section6 .btn-wrap {
    margin-top: 1rem;
    text-align: center;
}

.section6 .btn-wrap a {
    display: inline-block;
    width: 2.08rem;
    height: 0.92rem;
    text-indent: -99em;
}

.section6 .btn-wrap a:first-child {
    background-position: -6.66rem -8.99rem;
}

.section6 .btn-wrap a:last-child {
    margin-left: 0.7rem;
    background-position: -12.33rem -7.08rem;
}






/* 弹窗 */

.mask,
.share-mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 21;
}

.mask .close {
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    right: 0.15rem;
    top: 0.15rem;
    background: url('../images/close.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.mask .btn-sure {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1.04rem;
    bottom: 0.5rem;
    width: 2.08rem;
    height: 0.92rem;
    background: url('../images/btn_sure.png') center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.mask .item {
    display: none;
    position: absolute;
    width: 5rem;
    height: 3.50rem;
    margin: -1.75rem 0 0 -2.50rem;
    left: 50%;
    top: 50%;
}







/* 时间到 */

.mask .item1 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 0.24rem/2rem 微软雅黑;
    color: #fff;
}






/* 中奖弹窗 */

.mask .item2 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: 0.24rem 微软雅黑;
    color: #fff;
}

.mask .item2 .lottery-win {
    position: relative;
    top: 1.05rem;
}






/* 未中奖弹窗 */

.mask .item3 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: .24rem 微软雅黑;
    color: #fff;
}

.mask .item3 .lottery-lose {
    position: relative;
    top: 1.05rem;
}







/* 活动结束弹窗
/* 抽奖次数不足 */


/* 记录时间 */


/* 已签到 */


/* 玩过游戏 */


/* 发送成功 */


/* 发送失败 */

.mask .item4,
.mask .item5,
.mask .item6,
.mask .item7,
.mask .item8,
.mask .item9,
.mask .item10,
.mask .item11,
.mask .item12,
.mask .item13,
.mask .item14,
.mask .item15,
.mask .item16,
.mask .item17 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font: .24rem/2.54rem 微软雅黑;
    color: #fff;
}




/* 分享 */

.share-mask {
    display: none;
}

.share-mask .share {
    position: absolute;
    top: .5rem;
    right: 0;
    width: 3.71rem;
    height: 1.87rem;
    background-position: -0.2rem -8.99rem;
    animation: share 1s infinite alternate;
}

.share-mask .btn-sure {
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 2.08rem;
    height: 0.92rem;
    background: url('../images/btn_sure.png') center top no-repeat;
    transform: translate(-50%, -90%);
    -webkit-background-size: cover;
    background-size: cover;
}

@keyframes share {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(10%);
    }
}