/**
 * [background description]
 * @Author {[陈明圣]}
 * @Datetime {[2017-08-21]}
 * @Description {[css初始化公共样式]}
 */

/* 全局样式 */
* { 
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    list-style: none;
}

/* 文档主体样式 */
html {
    background: #fff;
    overflow: auto;
}

body {
    /* min-width: 960px; */
    font: 12px "Microsoft Yahei";
    font-weight: lighter;
    color: #333;
    -webkit-font-smoothing: antialiased;
}


/* 链接样式 */
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:focus {
    -moz-outline-style: none;
    border: 0px;
    blr: expression(this.onFocus=this.blur());
}


/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

header, footer, article, aside, section, nav, menu, hgroup, details, dialog, figure, figcaption {
    display: block
}


/* 列表 图片边框*/
ol, li, ul, dl, dt, dd {
    list-style: none;
}

fieldset, img {
    border: 0
}


/* 编码 */
code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}


/* 按钮样式 */
button, submit, input, select {
    vertical-align: middle;
}

button, submit {
    cursor: pointer;
}

select, button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline-style: none;
    outline-width: 0;
}

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}


strong, em {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

/* 表格 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 上下标 */
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}


/* 浮动 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* 隐藏 */
.hide {
    display: none;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;/* ie6/ie7 */
}

/* 居中容器 */
.container {
    margin: 0 auto;
    width: 960px;
}


/* 媒体查询 */
.row:before,.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    box-sizing: border-box;
    height: 200px;
    margin: 10px;
    border: 1px solid #999999;
    background-color: #eee;
}

@media only screen and (min-width: 768px){
    .col-md-1{
        width: calc(8.333% - 20px);
    }
    .col-md-2{
        width: calc(16.666% - 20px);
    }
    .col-md-3{
        width: calc(25% - 20px);
    }
    .col-md-4{
        width: calc(33.333% - 20px);
    }
    .col-md-6{
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 767px){
    .col-sm-2{
        width: calc(16.666% - 20px);
    }
    .col-sm-3{
        width: calc(25% - 20px);
    }
    .col-sm-6{
        width: calc(50% - 20px);
    }
    .col-sm-8{
        width: calc(66.666% - 20px);
    }
    .col-sm-12{
        width: calc(100% - 20px);
    }
}


/* 字体 */

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont/iconfont.woff') format('woff'), /* chrome¡¢firefox */
    url('../font/iconfont/iconfont.ttf') format('truetype'), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
    url('../font/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;/*!important Ôö¼ÓÈ¨ÖØ¡¢ÓÅÏÈ¼¶*/
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e600"; }
.icon-xiai:before { content: "\e601"; }
.icon-liebiao:before { content: "\e602"; }
.icon-zhubaoshipin:before { content: "\e603"; }
.icon-jiajujiancai:before { content: "\e604"; }
.icon-jiayongdianqi:before { content: "\e605"; }
.icon-shipin:before { content: "\e606"; }
.icon-muyingwanju:before { content: "\e607"; }
.icon-shumashouji:before { content: "\e608"; }
.icon-nvzhuangneiyi:before { content: "\e609"; }
.icon-huwaiyundong:before { content: "\e60a"; }
.icon-huazhuangpin:before { content: "\e60b"; }
.icon-qichepeijian:before { content: "\e60c"; }
.icon-jiafangjiashi:before { content: "\e60d"; }
.icon-jujia:before { content: "\e60e"; }
.icon-yiyaobaojian:before { content: "\e60f"; }
.icon-tushuyinxiang:before { content: "\e610"; }
.icon-tesefuwu:before { content: "\e62b"; }
.icon-qitianwuliyoutuihuanhuo:before { content: "\e62c"; }
.icon-zhengpinbaozhang:before { content: "\e62d"; }
.icon-bangzhuzhongxin:before { content: "\e62e"; }
.icon-qiehuanqishang:before { content: "\e620"; }
.icon-nanzhuang:before { content: "\e611"; }
.icon-xie:before { content: "\e612"; }
.icon-woguanzhudepinpai:before { content: "\e613"; }
.icon-wo:before { content: "\e614"; }
.icon-pinpai:before { content: "\e624"; }
.icon-caizhushenghuo:before { content: "\e626"; }
.icon-xiaojiantou:before { content: "\e615"; }
.icon-miaoxiansheng:before { content: "\e616"; }
.icon-fankui:before { content: "\e62f"; }
.icon-shoucangxuanzhong:before { content: "\e617"; }
.icon-shoucang:before { content: "\e618"; }
.icon-tianmaofenqi:before { content: "\e619"; }
.icon-jisutuikuan:before { content: "\e61a"; }
.icon-tuihuobaozhang:before { content: "\e61e"; }
.icon-shuxian:before { content: "\e629"; }
.icon-mine:before { content: "\e61b"; }
.icon-iconfontscan:before { content: "\e61c"; }
.icon-shuiguo:before { content: "\e61f"; }
.icon-31gouwuchexuanzhong:before { content: "\e61d"; }
.icon-tianmao:before { content: "\e622"; }
.icon-tianmaowangzhi:before { content: "\e623"; }
.icon-tuihuan:before { content: "\e621"; }
.icon-02dingwei:before { content: "\e630"; }
.icon-Aircraft:before { content: "\e627"; }
.icon-qian:before { content: "\e62a"; }
.icon-yifu:before { content: "\e628"; }
.icon-jiaohuan:before { content: "\e625"; }

.width100{width:100%;}

.fweight700{font-weight:700;}

.fsize12{font-size:12px;}
.fsize14{font-size:14px;}
.fsize16{font-size:16px;}
.fsize18{font-size:18px;}
.fsize20{font-size:20px;}
.fsize22{font-size:22px;}
.fsize24{font-size:24px;}
.fsize26{font-size:26px;}

/* color */
.color-c40{color:#c40000 !important;}
.c000{color:#000;}/* 黑色 */
.cddd{color:#ddd;}/* 灰色 */
.c666{color:#666;}/* 黑色 */
.c999{color:#999;}/* 黑色 */
.c888{color:#888;}/* 黑色 */
.c8b8{color:#8b8b8b;}/* 黑色 */

.cfff{color:#fff;}/* 白色 */
.cc40{color:#c40000;}/* 黑色 */
.cf15{color:#F15453;}/* 黑色 */
.cf7a{color:#F7A945;}/* 黑色 */
.c19c{color:#19C8A9;}/* 黑色 */
.c64c{color:#64C333;}/* 黑色 */
.c0aa{color:#0AA6E8;}/* 黑色 */
.cea5{color:#EA5F8D;}/* 黑色 */



/* background */
.bgF7A{background:#F7A945;}/* 暗橙色 */
.bgF15{background:#F15453;}/* 红色 */
.bg19C{background:#19C8A9;}/* 海绿色 */
.bg64C{background:#64C333;}/* 草绿色 */
.bg0AA{background:#0AA6E8;}/* 天蓝色 */
.bgEA5{background:#EA5F8D;}/* 粉红色 */
.bg333{background: #333;}/* 浅黑色 */
.bg000{background: #000;}/* 深黑色 */
.bgEEE{background: #eee;}/* 浅灰色 */
.bgDDD{background: #ddd;}/* 深灰色 */
.bg435{background: #435A6B;}/* 应该是绿色 */
.bgFEF{background: #FEF4E4;}/* 土黄色 */

/* margin */
.m-auto{margin:auto;}
.marginl1{margin-left:1px;}
.margint1{margin-top:1px;}
.marginX1{margin:0 1px;}
.marginY1{margin:1px 0;}
.marginb1{margin-bottom:1px;}

.marginl5{margin-left:5px;}
.margint5{margin-top:5px;}
.marginX5{margin:0 5px;}
.marginY5{margin:5px 0;}

.marginl10{margin-left:10px;}
.margint10{margin-top:10px;}
.marginX10{margin:0 10px;}
.marginY10{margin:10px 0;}

.marginl20{margin-left:20px;}
.margint20{margin-top:20px;}
.marginX20{margin:0 20px;}
.marginY20{margin:20px 0;}

.marginl30{margin-left:30px;}
.margint30{margin-top:30px;}
.marginX30{margin:0 30px;}
.marginY30{margin:30px 0;}

.overflowH{overflow:hidden;}

.m0{margin:0;}


 /* padding */
.p0{padding:0;}

.paddingL1{padding-left:1px;}
.paddingt1{padding-top:1px;}
.paddingX1{padding:0 1px;}
.paddingY1{padding:1px 0;}
.paddingB1{padding-bottom:1px;}

.paddingl5{padding-left:5px;}
.paddingt5{padding-top:5px;}
.paddingX5{padding:0 5px;}
.paddingY5{padding:5px 0;}
.paddingb5{padding-bottom:5px;}

.padding10{padding:10px;}
.paddingR10{padding-right:10px;}
.paddingL10{padding-left:10px;}
.paddingT10{padding-top:10px;}
.paddingX10{padding:0 10px;}
.paddingY10{padding:10px 0;}
.paddingB10{padding-bottom:10px;}

.paddingL20{padding-left:20px;}
.paddingT20{padding-top:20px;}
.paddingX20{padding:0 20px;}
.paddingY20{padding:20px 0;}
.paddingB20{padding-bottom:20px;}

.paddingL30{padding-left:30px;}
.paddingT30{padding-top:30px;}
.paddingX30{padding:0 30px;}
.paddingY30{padding:30px 0;}
.paddingB30{padding-bottom:30px;}

/*border*/
.bN{border:none;}

.border1{border:1px solid #000;}
.borderT1{border-top:1px solid #000;}
.borderR1{border-right:1px solid #000;}
.borderB1{border-bottom:1px solid #000;}
.borderL1{border-left:1px solid #000;}
.borderX1{border:1px solid #000;border:0px 1px 0px 1px;}
.borderY1{border:1px solid #000;border:1px 0px 1px 0px;}
.borderTRL1{border:1px solid #000;border:1px 1px 0px 1px;}
.borderRBL1{border:1px solid #000;border:0px 1px 1px 1px;}


/* text-align */
.tal{text-align:left;}
.tar{text-align:right;}
.tac{text-align:center;}
/* vertical-align */
.vam{vertical-align:middle;}


/* position */
.pr{position:relative;}
.pab{position:absolute;top:0px;}
.pAL{position:absolute;top:0px;left:0px;}
.pAR{position:absolute;top:0px;right:0px;}
.pAB{position:absolute;bottom:0px;}
.pF{position:fixed;}


/* z-index */
.zIndex9{z-index:9;}
.zIndex99{z-index:99;}
.zIndex999{z-index:999;}
.zIndex9999{z-index:9999;}
.zIndex99999{z-index:99999;}

/* display */
.db{display:block;}
.dib{display:inline-block;}
.dn{display:none;}

/* opacity */
.oC0{opacity:0;filter:alpha(opacity=0);}
.oC1{opacity:1;filter:alpha(opacity=100);}
/* 鼠标手 */
.hCP{cursor:pointer;}
/* hover下划线 */
.tN:hover{text-decoration:none;}
.hTU:hover{text-decoration:underline;cursor:pointer;}
.hTN:hover{text-decoration:none;cursor:pointer;}
