/* 
JS OR CSS DOCUMENT USE 
FOR:        www.18183.com
VERSION:    1.00
DATE:       2017/11/16
AUTHOR:     MingShined
*/

body,
html {
    /* overflow: hidden; */
    font-family: 宋体;
}

img {
    vertical-align: top;
}



/* 头部 */

.header {
    height: 827px;
    background: url('../images/header_bg.jpg') no-repeat center center;
    overflow: hidden;
}

.header .info {
    position: relative;
    margin: 0 auto;
    left: 280px;
    top: 430px;
    width: 630px;
    height: 165px;
    background: url('../images/intro_bg.png');
}

.header .info .desc {
    padding-top: 40px;
    color: #fff;
    line-height: 30px;
}

.header .info a {
    display: block;
    position: absolute;
    left: -115px;
    top: -130px;
    margin: 0 auto;
    width: 80px;
    height: 220px;
    background: url('../images/appointment_btn.png');
    -ms-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.header .info a:hover {
    background: url('../images/appointment_btn_hover.png');
}



/* 主体内容 */

.main {
    /* height: 8000px; */
    overflow: hidden;
}


.section {
    position: relative;
    background-repeat: no-repeat;
    background-size: center center;
}


/* 二维码 */

.code {
    position: absolute;
    right: 50px;
    top: 245px;
    width: 160px;
    height: 264px;
    background: url('../images/code.png') no-repeat;
}

.code a {
    display: block;
    position: absolute;
    left: 14px;
    bottom: 10px;
    width: 132px;
    height: 50px;
    background: url('../images/appointment_btn2.png');
    -ms-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.code a:hover {
    background: url('../images/appointment_btn2_hover.png');
}


/* 第一节 */

.section1 {
    height: 1015px;
    background: url('../images/section1_bg.jpg') no-repeat center center;
}

.section .banner {
    position: relative;
    margin: 0 auto;
}

.section1 .banner {
    top: 250px;
    width: 1200px;
    height: 565px;
    text-align: center;
}

.banner .pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.banner .pic li {
    position: absolute;
}

.shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 49;
}

#pic1 .shade{
    background: url('../images/shade1.png') no-repeat;
}

#pic3 .shade {

    background: url('../images/shade3.png') no-repeat;
}

#pic4 .shade{
    background: url('../images/shade4.png') no-repeat;
}

#pic5 .shade{
    background: url('../images/shade5.png') no-repeat;
}

.section1 .banner .pic ul {
    position: absolute;
}

.section1 .banner .pic li img {
    float: left;
}

.section1 .banner .ctrl .arrow {
    position: absolute;
    display: block;
    width: 45px;
    height: 86px;
    top: 50%;
    margin-top: -43px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    user-select: none;
}

.section1 .ctrl span.prev {
    background: url('../images/arrow_left.png');
    left: -100px;
}

.section1 .ctrl span.prev:hover {
    background: url('../images/arrow_left_hover.png');
}

.section1 .ctrl span.next {
    background: url('../images/arrow_right.png');
    right: -100px;
}

.section1 .ctrl span.next:hover {
    background: url('../images/arrow_right_hover.png');
}

.section1 .libs {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    top: 600px;
    width: 184px;
    height: 87px;
    cursor: pointer;
    -ms-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.section1 .libs:hover .border {
    background: url('../images/small1_frame_hover.png') no-repeat;
}

.section1 .libs img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section1 .libs .border {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('../images/small1_frame.png') center center;
}

.section1 .libs .cur1 {
    background: url('../images/small1_frame_hover.png') center center;
}


/* 第二节 */

.section2 {
    height: 1080px;
    background: url('../images/section2_bg.jpg') no-repeat center center;
}

.section2 .banner {
    top: 300px;
    width: 1200px;
    height: 594px;
    text-align: center;
}

.section2 .banner .pic ul {
    position: absolute;
}

.section2 .banner .pic li img {
    float: left;
}

.section2 .banner .ctrl .arrow {
    position: absolute;
    display: block;
    width: 45px;
    height: 86px;
    top: 50%;
    margin-top: -43px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    user-select: none;
}

.section2 .ctrl span.prev {
    background: url('../images/arrow_left.png');
    left: -100px;
}

.section2 .ctrl span.prev:hover {
    background: url('../images/arrow_left_hover.png');
}

.section2 .ctrl span.next {
    background: url('../images/arrow_right.png');
    right: -100px;
}

.section2 .ctrl span.next:hover {
    background: url('../images/arrow_right_hover.png');
}

.section2 .libs {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 600px;
    width: 142px;
    height: 144px;
    cursor: pointer;
}

.section2 .libs img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section2 .libs .border {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('../images/small2_frame.png') center center;
}

.section2 .libs:hover .border {
    background: url('../images/small2_frame_hover.png') center center;
}

.section2 .libs .cur2 {
    background: url('../images/small2_frame_hover.png') center center;
}

.s1 {
    background: url('../images/small2_pic1.png');
}
.s1:hover,.s1.on,.s1.cur2 {
    background: url('../images/small2_pic1_hover.png');
}
.s2 {
    background: url('../images/small2_pic2.png');
}
.s2:hover,.s2.on {
    background: url('../images/small2_pic2_hover.png');
}
.s3 {
    background: url('../images/small2_pic3.png');
}
.s3:hover,.s3.on {
    background: url('../images/small2_pic3_hover.png');
}
.s4 {
    background: url('../images/small2_pic4.png');
}
.s4:hover,.s4.on {
    background: url('../images/small2_pic4_hover.png');
}


/* 第三节 */

.section3 {
    height: 1248px;
    background: url('../images/section3_bg.jpg') no-repeat center center;
}

.section3 .banner {
    top: 240px;
    width: 1200px;
    height: 765px;
    text-align: center;
}

.section3 .banner .pic ul {
    position: absolute;
}

.section3 .banner .pic li img {
    float: left;
}

.section3 .banner .ctrl .arrow {
    position: absolute;
    display: block;
    width: 45px;
    height: 86px;
    top: 50%;
    margin-top: -43px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    user-select: none;
}

.section3 .ctrl span.prev {
    background: url('../images/arrow_left.png');
    left: -100px;
}

.section3 .ctrl span.prev:hover {
    background: url('../images/arrow_left_hover.png');
}

.section3 .ctrl span.next {
    background: url('../images/arrow_right.png');
    right: -100px;
}

.section3 .ctrl span.next:hover {
    background: url('../images/arrow_right_hover.png');
}

.section3 .libs {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 750px;
    width: 162px;
    height: 181px;
    cursor: pointer;
    -ms-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.section3 .odd {
    top: 700px;
}

.section3 .libs img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.t1 {
    background: url('../images/small3_pic1.png');
}
.t1:hover,.t1.on {
    background: url('../images/small3_pic1_hover.png');
}
.t2 {
    background: url('../images/small3_pic2.png');
}
.t2:hover,.t2.on {
    background: url('../images/small3_pic2_hover.png');
}
.t3 {
    background: url('../images/small3_pic3.png');
}
.t3:hover,.t3.on {
    background: url('../images/small3_pic3_hover.png');
}
.t4 {
    background: url('../images/small3_pic4.png');
}
.t4:hover,.t4.on {
    background: url('../images/small3_pic4_hover.png');
}
.t5 {
    background: url('../images/small3_pic5.png');
}
.t5:hover,.t5.on {
    background: url('../images/small3_pic5_hover.png');
}
.t6 {
    background: url('../images/small3_pic6.png');
}
.t6:hover,.t6.on {
    background: url('../images/small3_pic6_hover.png');
}


/* 第四节 */

.section4 {
    height: 987px;
    background: url('../images/section4_bg.jpg') no-repeat center center;
}

.section4 .banner {
    top: 250px;
    width: 1200px;
    height: 559px;
    text-align: center;
}

.section4 .banner .pic ul {
    position: absolute;
}

.section4 .banner .pic li img {
    float: left;
}

.section4 .banner .ctrl .arrow {
    position: absolute;
    display: block;
    width: 45px;
    height: 86px;
    top: 50%;
    margin-top: -43px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    user-select: none;
}

.section4 .ctrl span.prev {
    background: url('../images/arrow_left.png');
    left: -100px;
}

.section4 .ctrl span.prev:hover {
    background: url('../images/arrow_left_hover.png');
}

.section4 .ctrl span.next {
    background: url('../images/arrow_right.png');
    right: -100px;
}

.section4 .ctrl span.next:hover {
    background: url('../images/arrow_right_hover.png');
}

.section4 .libs {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 600px;
    width: 200px;
    height: 60px;
    font: 32px/60px 宋体;
    text-align: center;
    cursor: pointer;
    background: url('../images/small4_frame.png') center center;
    color: #fff;
}

.section4 .libs:hover {
    background: url('../images/small4_frame_hover.png') center center;
    color: #e80000;
}

.section4 .cur4 {
    background: url('../images/small4_frame_hover.png') center center;
    color: #e80000;
}



/* 第五节 */

.section5 {
    height: 680px;
    background: url('../images/section5_bg.jpg') no-repeat center center;
}

.section5 .notice {
    position: relative;
    top: 250px;
    width: 1200px;
    margin: 0 auto;
}

.section5 .banner {
    margin: 0 0;
    width: 730px;
    height: 340px;
}

.section5 .banner .pic ul {
    position: absolute;
}

.section5 .banner .pic li img {
    float: left;
}

.section5 .banner .ctrl .arrow {
    position: absolute;
    display: block;
    width: 60px;
    height: 100px;
    top: 50%;
    margin-top: -43px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}

.section5 .ctrl span.prev {
    background: url('../images/arrow_left2.png');
    left: 0;
}

.section5 .ctrl span.prev:hover {
    background: url('../images/arrow_left2_hover.png');
}

.section5 .ctrl span.next {
    background: url('../images/arrow_right2.png');
    right: 0;
}

.section5 .ctrl span.next:hover {
    background: url('../images/arrow_right2_hover.png');
}

.section5 .libs {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    left: 600px;
    top: 310px;
    width: 16px;
    height: 16px;
    font: 32px/60px 宋体;
    text-align: center;
    cursor: pointer;
    background: url('../images/small5_tag.png') center center;
    color: #fff;
    z-index: 50;
}

.section5 .libs:hover {
    background: url('../images/small5_tag_hover.png') center center;
}

.section5 .cur5 {
    background: url('../images/small5_tag_hover.png') center center;
}

.section5 .info {
    position: relative;
    top: -20px;
    left: 50px;
    width: 415px;
    height: 300px;
}

.section5 .info ul li {
    width: 415px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px dashed #4d4d4d;
    background: url('../images/small5_tag2.png') no-repeat 0 27px;
}

.section5 .info ul li span {
    color: #666666;
}

.section5 .info ul li:hover {
    background: url('../images/small5_tag2_hover.png') no-repeat 0 27px;
}

.section5 .info ul li a {
    color: #fff;
    font: 14px 宋体;
}

.section5 .info ul li:hover a {
    color: #e80000;
}

.section5 .info .more {
    margin-top: 20px;
    display: block;
    width: 130px;
    height: 35px;
    background: url('../images/more.png') no-repeat;
    text-align: center;
    font: 14px/35px 宋体;
    color: #fff;
}

.section5 .info .more:hover {
    background: url('../images/more_hover.png') no-repeat;
    color: #e80000;
}