*{
	margin: 0;
	padding: 0;
}

body{		
	font-family: 微软雅黑;
	color: #ffffff;
}

/* body:before,body:after{
	content: "";
	display: table;
	clear: both;
} */

a{
	text-decoration: none;
}

ul li{
	list-style: none;
}

/* 头部 */
header{
	height: 55px;
	background-color: #2189BF;
}

header:before,header:after{
	content: "";
	display: table;
	clear: both;
}

.logo,.login,.serch{
	position: relative;
	top: 10px;
}

.logo{
	float: left;
	left: 50px;
}

.login{
	float: right;
	right: 50px;
	cursor: pointer;
}

.login .login-bottom{
	position: absolute;
	bottom: -5px;
	width: 0px;
	height: 0px;
	border-bottom: 1px solid black;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
}

.login:hover .login-bottom{
	width: 60px;
	height: 50px;
}

.serch{
	float: right;
	right: 100px;
}

.serch input{
	width: 270px;
	height: 25px;
	padding-left: 40px;
	border: 1px solid #2289bf;
	border-radius: 20px;
	vertical-align: middle;
}

/* 侧栏 */
aside{
	/* float: left; */
	/* padding: 20px; */
	width:280px;
	min-width: 280px;
	height: 1200px;
	box-sizing: border-box;
	background-color: #2A2E3D;
}

aside,aside a,aside ul li{
	color: #BABABE;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}

aside a:hover{
	color: #ffffff;
}

.person-logo{
	position: relative;
	top: 10px;
	left: 35px;
	width: 220px;
	height: 80px;
	/* border: 1px solid black; */
}

.person-logo a{
	display: block;
	position: absolute;
	right: 30px;
	bottom: 40px;
}

.colect-fans{
	position: relative;
	width: 100%;
}

.colect{
	width: 50%;
	border-right: 2px solid #444A65;
	text-align: center;
}

.fans{
	float: right;
	width: 50%;
	text-align: center;
}

.navbar{
	position: relative;
	top: 30px;
	width: 100%;
}

.navbar ul li{
	line-height: 40px;
	font-size: .8em;
	padding-left: 20px;
}

.navbar>ul>li:first-child{
	/* width: 100%; */
	padding: 10px;
	background-color: #393E4E;
}

.wendang{
	margin-left: 30px;
}

.navbar>ul>li{
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}

.navbar>ul>li:hover{
	background-color: #393E4E;
}

.navbar ul li a:hover{
	/* transform: rotate(360deg); */
	transform: rotateY(360deg);
}

.navbar ul li a{
	padding-left: 10px;
}


/* 主内容 */
main{
	float: right;
	width: calc(100% - 280px);
	height: 1200px;
	background-color: #eee;
	/* overflow: auto; */
	color: #999999;
}

main:before,main:after{
	content: "";
	display: table;
	clear: both;
}

.fileroad{
	padding-left: 20px;
	/* width: calc(100% - 20px); */
	height: 30px;
	box-sizing: border-box;
	text-align: left;
	line-height: 30px;
	font-size: .9e,;
	font-weight: bold;
	color: rgba(0, 0, 0, .4);
	background-color: #efd;
	/* overflow: hidden; */
}

.container{
	margin: 20px auto 0;
	width: 60%;
	min-width: 975px;
	height: calc(1200px - 50px);
	/* overflow: hidden; */
}

/* 第一部分内容 */

.first-content{
	position: relative;
	width: 975px;
	height: 100px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0px gray;
}

.first-content label{
	margin-right: 7px;
	font-size: .8em;
	color: #BABABE;
}

.serch-one{
	position: absolute;
	top: 20px;
	left: 50px;
}

.serch-one select{
	padding: 5px 10px;
}

.buyer{
	position: absolute;
	top: 20px;
	left: 250px;
}

.buyer select{
	padding: 5px 80px 5px 5px;
}

.saler{
	position: absolute;
	top: 55px;
	left: 250px;
}

.saler select{
	padding: 5px 80px 5px 5px;
}

.change{
	position: absolute;
	left: 425px;
	top: 27px;
	cursor: pointer;
}

.date{
	position: absolute;
	top: 20px;
	left: 490px;
}

.date input{
	padding: 3px 0;
}

.num{
	position: absolute;
	top: 55px;
	left: 490px;
}

.num select{
	padding: 5px 15px 5px 5px;
}

.time{
	position: absolute;
	top: 20px;
	left: 690px;
}

.time select{
	padding: 5px 15px 5px 5px;
}

.bargin{
	position: absolute;
	top: 55px;
	left: 650px;
}

.bargin select{
	padding: 5px 50px 5px 10px;
}

.serch-two{
	position: absolute;
	top: 30px;
	left: 850px;
}

.serch-two button{
	padding: 8px 20px;
	background-color: rgb(56, 139, 194);
	border: 1px solid #eee;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
}

.serch-two button:hover{
	background-color: rgba(56, 139, 194, .7);
}

/* 第二部分内容 */
.second-contend{
	position: relative;
	margin-top: 10px;
	width: 975px;
	height: 63px;
	background-color: #eee;
}

.left-arrow,.right-arrow{
	position: absolute;
	width: 29px;
	height: 63px;
	box-shadow: 0 0 5px 0px gray;
	background-color: #ffffff;
	font-size: 2em;
	text-align: center;
	line-height: 63px;
	color: #BABABE;
}

.box{
	position: absolute;
	width: 109px;
	height: 63px;
	border: 1px solid #eee;
	box-shadow: 0 0 5px 0px gray;
	background-color: #ffffff;
	text-align: center;
	line-height: 30px;
	color: black;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
}

.box:hover{
	border-bottom: 4px solid blue;
	border-left: 4px solid blue;
	cursor: pointer;
}

.box h2{
	color: gray;
}

.history-serch{
	position: absolute;
	width: 128px;
	height: 63px;
	box-shadow: 0 0 5px 0px gray;
	background-color: #ffffff;
	text-align: center;
	line-height: 63px;
}

.history-serch img{
	position: absolute;
	top: 15px;
	left: 10px;
}

.history-serch a{
	margin-left: 40px;
}

.ten{
	left: 45px;
}

.eleven{
	left: 170px;
}

.twelve{
	left: 300px;
}

.one{
	left: 430px;
}

.two{
	left: 555px;
}

.three{
	left: 680px;
}

.right-arrow{
	right: 140px;
}

.history-serch{
	right: 0;
}

/* 第三部分内容 */
.third-contend{
	margin-top: 10px;
}

.title{
	width: 975px;
	height: 25px;
	color: black;
}

.deal{
	position: relative;
	width: 975px;
	height: 69px;
}

.deal-box{
	position: absolute;
	padding: 10px;
	width: 200px;
	height: 69px;
	box-sizing: border-box;
	box-shadow: 0 0 5px gray;
	border-left: 4px solid green;
	text-align: left;
	line-height: 25px;
	background-color: #ffffff;
}

.blue{
	left: 260px;
	border-left: 4px solid blue;
}

.red{
	left: 520px;
	border-left: 4px solid red;
}

.yellow{
	right: 0;
	border-left: 4px solid yellow;
}

.green-box,.blue-box,.red-box,.yellow-box{
	/* float: right; */
	position: absolute;
	bottom: 15px;
	left: 120px;
	width: 60px;
	height: 45px;
	background-color: green;
}

.blue-box{
	background-color: blue;
}

.red-box{
	background-color: red;
}

.yellow-box{
	background-color: yellow;
}

/* 第四部分内容 */
.fourth-contend{
	margin-top: 10px;
}

/* 左 */

.left-part{
	float: left;
	width: 530px;
	height: 355px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0px gray;
	border-radius: 10px;
	overflow: hidden;
}

.left-title{
	padding: 10px;
	width: 530px;
	height: 42px;
	box-sizing: border-box;
	background-color: #f4f6f7;
}

.left-contend{
	padding: 10px 20px;
}

.left-contend ul li{
	position: relative;
	display: inline-block;
}

.left-contend ul li input{
	/* margin-top: 10px; */	
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
} 

.left-contend ul li span{
	position: relative;
	padding: 10px;
	display: block;
	background-color: #ededf0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}

.left-contend ul li input:checked + span {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
}

.left-contend ul li .tab {
	position: absolute;
	display: none;
	width: 415px;
	height: 171px;
	top: 42px;
	border: 1px solid #aaaaaa;
	z-index: 0;
	padding: 35px;
	border-radius: 0 5px 5px 5px;
}

.left-contend ul li input:checked + span + .tab {
	display: block;
}

.left-contend ul li .tab table {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.left-contend ul li .tab table td:hover{
	background-color: #f4f5f6;
}

.left-contend ul li .tab.item-two{
    margin-left: -72px;
    border-radius: 5px;
}
.left-contend ul li .tab.item-three{
	margin-left: -145px;
	border-radius: 5px;
}
.left-contend ul li .tab.item-four{
    margin-left: -218px;
    border-radius: 5px;
}
.left-contend ul li .tab.item-five{
    margin-left: -292px;
    border-radius: 5px;
}


.tab table td{
	padding: 6px 10px;
	border: 1px solid #eee;
	font-size: .7em;
	color: black;
}

/* 右 */
.right-part{
	float: right;
	width: 430px;
	height: 355px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0px gray;
	border-radius: 10px;
	overflow: hidden;
}

.right-title{
	padding: 10px;
	height: 42px;
	box-sizing: border-box;
	background-color: #f4f6f7;
}

.right-contend{
	padding: 20px;
}

.right-contend table td{
	width: 276px;
	height: 50px;
	/* border: 1px solid #92c179; */
	text-align: center;
}

.right-contend table td span{
	color: black;
}

.right-contend table .details{
	height: 120px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.right-contend table .table-title{
	border-bottom: 1px solid #E7E7E7;
}

.right-contend table .price{
	border-right: 1px solid #E7E7E7;
}

.find input{
	padding: 8px 20px;
	background-color: rgb(56, 139, 194);
	border: 1px solid #eee;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
}

.find input:hover{
	background-color: rgba(56, 139, 194,.6);
}

/* 第五部分内容 */
.fifth-contend{
	position: relative;
	top: 10px;
}

/* 左 */
.left{
	float: left;
	width: 430px;
	height: 355px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0px gray;
	border-radius: 10px;
	overflow: hidden;
}

.left_title{
	padding: 10px;
	height: 42px;
	box-sizing: border-box;
	background-color: #f4f6f7;
}

.left_contend{
	padding: 20px;
}

.left_contend select,.left_contend input{
	margin-left: 15px;
	padding: 5px 10px;
}

.left_contend input{
	background-color: #ffffff;
	border: 1px solid #cacbcb;
	border-radius: 2px;
}

.date-tab table{
	margin-top: 5px;
	width: 100%;	
}

.date-tab table th{
	padding: 10px 0;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.date-tab table td{
	text-align: center;
	font-size: .8em;
	color: black;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
}

.date-tab table td:hover{
	background-color: #eee;
}


/* 右边 */

.right{
	float: right;
	width: 530px;
	height: 355px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0px gray;
	border-radius: 10px;
	overflow: hidden;
}

.right_title{
	padding: 10px;
	width: 530px;
	height: 42px;
	box-sizing: border-box;
	background-color: #f4f6f7;
}

.right_contend{
	padding: 10px 40px;
}

.right_contend table{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	font-size: .9em;
}

.right_contend table td,.right_contend table th{
	border: 1px solid gray;
	padding: 1px 0;
}

.right_contend table tr:hover{
	background-color: #eee;
	cursor: pointer;
}

.right_contend table td span{
	display: block;
	z-index: 99;
	/* border-top: 1px solid black; */
	width: 50%;
	height: 0px;
}

.td-box .span{
	position: absolute;
	width: 0px;
	height: 0px;
	background-color: red;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
}

.td-box:hover .span{
	width: 180px;
	height: 4px;
	background-color: red;
}

.td-box:hover #two{
	width: 170px;
	height: 4px;
	background-color: blue;
}

.td-box:hover #three{
	width: 160px;
	height: 4px;
	background-color: yellow;
}

.td-box:hover #four{
	width: 150px;
	height: 4px;
	background-color: green;
}

.td-box:hover #five{
	width: 140px;
	height: 4px;
	background-color: purple;
}

.td-box:hover #six{
	width: 130px;
	height: 4px;
	background-color: black;
}

.td-box:hover #seven{
	width: 120px;
	height: 4px;
	background-color: gray;
}

.td-box:hover #eight{
	width: 110px;
	height: 4px;
	background-color: skyblue;
}

.td-box:hover #nine{
	width: 100px;
	height: 4px;
	background-color: indianred;
}

.td-box:hover #ten{
	width: 90px;
	height: 4px;
	background-color: yellowgreen;
}


