/* CSS Document 
use for:www.18183.com
version:1.0
Data:2017/12/21
Author: MingShined
*/


/* icon */

.header .btn-wrap a,
.section1 .video-border,
.section1 .video .btn-play,
.section2 .accordion li .tab,
.section3 .pic-border,
.section3 .btn-upload,
.section4 .message-wall .wall-hd,
.section4 .message-wall .imgloading {
    background: url('../images/icon.png') no-repeat;
}




/* 头部 */

.header {
    height: 888px;
    background: url('../images/header_bg.jpg') center top no-repeat;
}

.header .btn-wrap {
    position: relative;
    top: 600px;
    left: -200px;
    margin: 0 auto;
    width: 544px;
    height: 88px;
}

.header .btn-wrap a {
    display: block;
    width: 252px;
    height: 88px;
    text-indent: -99em;
}

.header .btn-wrap a.btn-gw {
    background-position: -1118px -810px;
}

.header .btn-wrap a.btn-gw:hover {
    background-position: -1390px -810px;
}

.header .btn-wrap a.btn-lb {
    background-position: -1662px -810px;
}

.header .btn-wrap a.btn-lb:hover {
    background-position: -1118px -918px;
}

.header .animate-wrap .light {
    position: relative;
    top: 0;
    width: 100%;
    width: 1920px;
    height: 32px;
    background: url('../images/light.png') center top repeat;
    animation: lightFlash1 .7s ease-in-out infinite alternate;
}

@-webkit-keyframes lightFlash1 {
    from {
        background: url('../images/light.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}

@-moz-keyframes lightFlash1 {
    from {
        background: url('../images/light.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}

@-ms-keyframes lightFlash1 {
    from {
        background: url('../images/light.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}


@keyframes lightFlash1 {
    from {
        background: url('../images/light.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}



/* 主体 */

.section .wrap {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}



/* 第一节 */

.section1 {
    height: 653px;
    background: url('../images/section1_bg.jpg') center top no-repeat;
}

.section1 .wrap {
    top: 140px;
}

.section1 .video {
    position: relative;
    width: 500px;
    height: 350px;
}

.section1 .video-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 529px;
    height: 380px;
    background-position: -569px -653px;
    left: -14.5px;
    top: -15px;
}

.section1 .video img {
    display: block;
}

.section1 .video .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -35px;
    display: block;
    width: 61px;
    height: 70px;
    background-position: -1888px -432px;
    z-index: 11;
}

.section1 .desc {
    padding-top: 80px;
    width: 460px;
    font-size: 14px;
    color: #fff;
}

.section1 .desc p {
    margin: 5px 30px;
    line-height: 35px;
}



/* 第二节 */

.section2 {
    height: 744px;
    background: url('../images/section2_bg.jpg') center top no-repeat;
}

.section2 .accordion {
    position: relative;
    width: 1015px;
    margin: 0 auto;
    top: 200px;
    overflow: hidden;
}

.section2 .accordion ul {
    position: relative;
    margin: 0 auto;
}

.section2 .accordion li {
    position: relative;
    float: left;
    width: 70px;
    overflow: hidden;
}

.section2 .accordion li.active {
    width: 650px;
}

.section2 .accordion li img {
    position: relative;
    display: block;
    top: 0;
    left: 70px;
}

.section2 .accordion li .tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 400px;
}

.section2 .accordion li span.t1 {
    background-position: -114px -1139px;
}

.section2 .accordion li.l1:hover .t1 {
    background-position: -204px -1139px;
}

.section2 .accordion li span.t2 {
    background-position: -294px -1139px;
}

.section2 .accordion li.l2:hover .t2 {
    background-position: -384px -1139px;
}

.section2 .accordion li span.t3 {
    background-position: -474px -1139px;
}

.section2 .accordion li.l3:hover .t3 {
    background-position: -564px -1139px;
}

.section2 .accordion li span.t4 {
    background-position: -654px -1139px;
}

.section2 .accordion li.l4:hover .t4 {
    background-position: -744px -1139px;
}

.section2 .accordion li span.t5 {
    background-position: -834px -1139px;
}

.section2 .accordion li.l5:hover .t5 {
    background-position: -924px -1139px;
}

.section2 .accordion li span.t6 {
    background-position: -1014px -1139px;
}

.section2 .accordion li.l6:hover .t6 {
    background-position: -20px -1139px;
}

.section2 .accordion li span i.nth {
    display: block;
    width: 70px;
    height: 70px;
    font: 24px/77px 微软雅黑;
    text-align: center;
    color: #fff;
}

.section2 .accordion li span i.name {
    display: block;
    width: 35px;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
    text-align: center;
}



/* 第三节 */

.section3 {
    height: 1031px;
    background: url('../images/section3_bg.jpg') center top no-repeat;
}

.section3 .wrap {
    top: 262px;
}

.section3 .wrap .banner {
    width: 500px;
    height: 350px;
}

.section3 .pic-border {
    position: absolute;
    left: -13.5px;
    top: -101px;
    width: 529px;
    height: 466px;
    background-position: -20px -653px;
}

.section3 .info {
    width: 428px;
    font-size: 14px;
    color: #fff;
}

.section3 .info dt {
    margin-top: 20px;
    color: #ea2336;
}

.section3 .info dd {
    line-height: 20px;
}

.section3 .btn-upload {
    position: relative;
    top: 350px;
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 108px;
    background-position: -1118px -653px;
}

.section3 .btn-upload:hover {
    background-position: -1468px -653px;
}

.section3 .light {
    position: relative;
    top: 400px;
    width: 100%;
    height: 130px;
    background: url('../images/light2.png') center top no-repeat;
    animation: lightFlash2 .7s ease-in-out infinite alternate;
}

@-webkit-keyframes lightFlash2 {
    from {
        background: url('../images/light2.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light2_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}


@-moz-keyframes lightFlash2 {
    from {
        background: url('../images/light2.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light2_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}


@keyframes lightFlash2 {
    from {
        background: url('../images/light2.png') center top no-repeat;
        background-size: 100% 100%;
    }
    to {
        background: url('../images/light2_open.png') center top no-repeat;
        background-size: 100% 100%;
    }
}




/* 第四节 */

.section4 {
    padding-bottom: 115px;
    background: url('../images/section4_bg.jpg') center top repeat;
}

.section4 .message-wall {
    position: relative;
    top: 200px;
    width: 1148px;
    margin: 0 auto;
}

.section4 .message-wall .wall-hd {
    position: relative;
    width: 1148px;
    height: 201px;
    background-position: -20px -432px;
    z-index: 10;
}

.section4 .masonry {
    overflow: hidden;
}

.section4 .message-wall .wall-bd {
    position: relative;
    top: -81px;
    padding: 28px 0 200px 0;
    width: 1000px;
    margin: 0 auto;
    background: url('../images/message_bg.jpg') center top repeat;
    z-index: 9;
}

.section4 .message-wall .wall-bd li {
    /* float: left; */
    margin-left: 21px;
}

.section4 .message-wall .wall-bd li .top,
.section4 .message-wall .wall-bd li .bottom {
    padding-left: 20px;
    width: 286px;
    height: 48px;
    font: 18px/48px 微软雅黑;
    color: #333;
}

.section4 .message-wall .wall-bd li .top {
    background: url('../images/box_top.png') center top no-repeat;
}

.section4 .message-wall .wall-bd li .bottom {
    background: url('../images/box_bottom.png') center top no-repeat;
}

.section4 .message-wall .wall-bd li .mid {
    width: 306px;
    /* height: 30px; */
    background: url('../images/box_center.png') center top repeat-y;
}

.section4 .message-wall .wall-bd li .mid img {
    display: block;
    width: 266px;
    margin: 0 auto;
}

.section4 .message-wall a.imgloading {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -165px;
    display: block;
    width: 330px;
    height: 108px;
    background-position: -1188px -432px;
    font: 16px/108px 微软雅黑;
    color: #fff;
    text-align: center;
}

.section4 .message-wall a.imgloading:hover {
    background-position: -1538px -432px;
}



/* 第五节 */

.section5 {
    height: 326px;
    background: url('../images/section5_bg.jpg') center top no-repeat;
}





/* 弹窗 */

.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 21;
}

.mask .close {
    display: block;
    position: absolute;
    right: -12px;
    top: 58px;
    width: 24px;
    height: 24px;
    background: url('../images/close.png') no-repeat;
    cursor: pointer;
}

.mask .item {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 687px;
    height: 757px;
    margin-left: -343px;
    margin-top: -378px;
}






/* 视频 */

.mask .alert-video {
    position: relative;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    width: 600px;
    height: 400px;
}

.mask .alert-video iframe {
    display: block;
    width: 600px;
    height: 400px;
}

.mask .alert-video .close {
    right: -25px;
    top: -20px;
}







/* 上传图片 */

.mask .item1 {
    background: url('../images/alertBox_bg.png') center top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #333;
}

.mask .item1 .userinfo {
    position: absolute;
    top: 68px;
    left: 40px;
}

.mask .item1 .userinfo label {
    position: relative;
    display: inline-block;
    float: left;
    width: 300px;
    height: 40px;
    margin-top: 80px;
}

.mask .item1 .userinfo label input {
    display: inline-block;
    width: 180px;
    height: 40px;
    border: 1px solid #cccccc;
    padding-left: 10px;
}

.mask .item1 .upload-form {
    position: relative;
}

.mask .upload-wrap {
    background: url('../images/add.png') center top no-repeat;
    background-size: 100% 100%;
}

.mask .upload-wrap,
.mask .upload-img,
.mask .upload-wrap .webuploader {
    position: relative;
    top: 350px;
    width: 219px;
    height: 219px;
    margin: 0 auto;
    cursor: pointer;
}

.upload-wrap .webuploader {
    filter: alpha(Opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    /* top: -200px!important; */
    top: 0!important;
}

.mask .upload-img {
    display: none;
}

.mask .upload-img .ucos {
    position: absolute;
    right: -4px;
    top: -4px;
    width: 14px;
    height: 14px;
    background: url('../images/close.png') no-repeat center top;
    background-size: 100% 100%;
}

.mask .upload-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.mask .upload-form .btn-upload {
    position: absolute;
    margin-left: -126px;
    left: 50%;
    bottom: -465px;
    display: block;
    width: 252px;
    height: 88px;
    background: url('../images/btn_submit.png') center top no-repeat;
    background-size: 100% auto;
    outline-style: none;
    border: none;
    cursor: pointer;
}