img {
    vertical-align: top;
}






/* 头部 */

.header {
    position: relative;
    height: 8.25rem;
    background: url('../images/header_bg.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header a {
    position: relative;
    left: -.8rem;
    top: 5.6rem;
    margin: 0 auto;
    display: block;
    width: 0.8rem;
    height: 2.2rem;
    background: url('../images/appointment_btn.png') center center;
    -webkit-background-size: cover;
    background-size: cover;
}



/* 第一节 */

.section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section1 {
    height: 9.86rem;
    background: url('../images/section1_bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper-button-next {
    width: 0.45rem;
    height: 0.86rem;
    background: url('../images/arrow_right.png');
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 21;
}

.swiper-button-prev {
    width: 0.45rem;
    height: 0.86rem;
    background: url('../images/arrow_left.png');
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 21;
}

.swiper1-big {
    position: relative;
    top: 2.5rem;
    height: 5.56rem;
}

.swiper1-big .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: url('../images/shade1.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper1-lit {
    position: relative;
    top: 2.5rem;
    width: 200%;
    height: 0.9rem;
    padding: 0.2rem 0;
    box-sizing: border-box;
    transform: translateX(-45%);
}

.swiper1-lit .swiper-slide {
    width: 1.26rem;
    height: 0.9rem;
    opacity: 0.4;
}

.swiper1-lit .swiper-slide .border {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1.26rem;
    height: 0.7rem;
    background: url('../images/small1_frame.png') 50% 50% no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 11;
}

.swiper1-lit .swiper-slide img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.swiper1-lit .swiper-slide-active {
    background: url('../images/small1_frame_hover.png') 50% 50% no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 1;
    z-index: 99;
}



/* 第二节 */

.section2 {
    height: 10.82rem;
    background: url('../images/section2_bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper2-big {
    position: relative;
    top: 2.5rem;
    height: 5.94rem;
}

.swiper2-big .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: url('../images/shade1.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper2-lit {
    position: relative;
    top: 2.5rem;
    width: 200%;
    height: 1.74rem;
    padding: 0.2rem 0;
    box-sizing: border-box;
    transform: translateX(-40%);
}

.swiper2-lit .swiper-slide {
    width: 1.42rem;
    height: 1.44rem;
    opacity: 0.4;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper2-lit .swiper-slide-active {
    /* background: url('../images/small1_frame_hover.png') 50% 50% no-repeat; */
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 1;
}

.s1 {
    background: url('../images/small2_pic1.png');
}

.s1.on {
    background: url('../images/small2_pic1_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.s2 {
    background: url('../images/small2_pic2.png');
}

.s2.on {
    background: url('../images/small2_pic2_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.s3 {
    background: url('../images/small2_pic3.png');
}

.s3.on {
    background: url('../images/small2_pic3_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.s4 {
    background: url('../images/small2_pic4.png');
}

.s4.on {
    background: url('../images/small2_pic4_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}


/* 第三节 */

.section3 {
    height: 12.51rem;
    background: url('../images/section3_bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper3-big {
    position: relative;
    top: 2.5rem;
    height: 6.75rem;
}

.swiper3-big .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: url('../images/shade3.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper3-lit {
    position: relative;
    top: 3rem;
    width: 200%;
    height: 3rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
    transform: translateX(-45%);
}

.swiper3-lit .swiper-slide {
    width: 1.62rem;
    height: 1.81rem;
    opacity: 0.4;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper3-lit .swiper-slide-active {
    /* background: url('../images/small1_frame_hover.png') 50% 50% no-repeat; */
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 1;
}

.t1 {
    background: url('../images/small3_pic1.png');
    margin-top: -0.5rem;
}

.t1.on {
    background: url('../images/small3_pic1_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.t2 {
    background: url('../images/small3_pic2.png');
}

.t2.on {
    background: url('../images/small3_pic2_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.t3 {
    background: url('../images/small3_pic3.png');
    margin-top: -0.5rem;
}

.t3.on {
    background: url('../images/small3_pic3_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.t4 {
    background: url('../images/small3_pic4.png');
}

.t4.on {
    background: url('../images/small3_pic4_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.t5 {
    background: url('../images/small3_pic4.png');
    margin-top: -0.5rem;
}

.t5.on {
    background: url('../images/small3_pic4_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}



/* 第四节 */

.section4 {
    height: 9.84rem;
    background: url('../images/section4_bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper4-big {
    position: relative;
    top: 2.5rem;
    height: 5.59rem;
}

.swiper4-big .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: url('../images/shade4.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper4-lit {
    position: relative;
    top: 2.5rem;
    width: 200%;
    height: 0.8rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
    transform: translateX(-40%);
}

.swiper4-lit .swiper-slide {
    width: 1.65rem;
    height: 0.5rem;
    opacity: 0.4;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper4-lit .swiper-slide-active {
    /* background: url('../images/small1_frame_hover.png') 50% 50% no-repeat; */
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 1;
}

.f1 {
    background: url('../images/small4_pic1.png');
}

.f1.on {
    background: url('../images/small4_pic1_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.f2 {
    background: url('../images/small4_pic2.png');
}

.f2.on {
    background: url('../images/small4_pic2_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.f3 {
    background: url('../images/small4_pic3.png');
}

.f3.on {
    background: url('../images/small4_pic3_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.f4 {
    background: url('../images/small4_pic4.png');
}

.f4.on {
    background: url('../images/small4_pic4_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}




/* 第五节 */

.section5 {
    height: 12.55rem;
    background: url('../images/section5_bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper5-big {
    position: relative;
    top: 2.5rem;
    height: 3.49rem;
}

.swiper5-big .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: url('../images/shade5.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper5-lit {
    position: relative;
    top: 2.5rem;
    width: 200%;
    height: 0.8rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
    transform: translateX(-30%);
}

.swiper5-lit .swiper-slide {
    width: 0.32rem;
    height: 0.32rem;
    opacity: 0.4;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper5-lit .swiper-slide-active {
    /* background: url('../images/small1_frame_hover.png') 50% 50% no-repeat; */
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 1;
}

.g1 {
    background: url('../images/small5_tag.png');
}

.g1.on {
    background: url('../images/small5_tag_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.g2 {
    background: url('../images/small5_tag.png');
}

.g2.on {
    background: url('../images/small5_tag_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.g3 {
    background: url('../images/small5_tag.png');
}

.g3.on {
    background: url('../images/small5_tag_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.g4 {
    background: url('../images/small5_tag.png');
}

.g4.on {
    background: url('../images/small5_tag_hover.png');
    -webkit-background-size: cover;
    background-size: cover;
}

/* 公告 */
.section5 .info {
	position: relative;
	padding: 0 0.2rem;
	height: 3.6rem;
	top: 2.8rem;
}

.section5 .info ul li {
	padding-left: 0.4rem;
	width: 100%;
	height: 0.75rem;
	text-align: left;
	font: 0.24rem/0.75rem 宋体;
	color: #fff;
	border-bottom: 1px dashed #333333;
	background: url('../images/small5_tag2.png') no-repeat -0.02rem 0.27rem;
	box-sizing: border-box;
}

.section5 .info ul li span {
	color: #666666;
}

.section5 .info ul li:active {
	background: url('../images/small5_tag2_hover.png') no-repeat -0.02rem 0.27rem;
	color: #e80000;
}

.section5 .info .more {
	margin: 0.2rem 0 0 0.2rem;
	display: block;
	width: 2.1rem;
	height: 0.6rem;
	background: url('../images/more_btn.png') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}