*{
	margin: 0;
	padding: 0;
}


/* 头部 */

header{
	position: relative;
	height: 50px;
	padding: 5px 20px;
	background-color: black;
}

.logo img{
	width: 100px;
	height: 50px;
}

.navbar{
/* 	float: right;
	margin-top: -40px; */
	position: absolute;
	top: 50%;
	right: 1px;
	transform: translateY(-50%);
	color: white;
}

.navbar ul li{
	float: left;
	/* padding-left: -20px; */
	margin-left: 20px;
	color: #999;
}

.navbar ul .link-four a{
	color: gray;
}

.navbar a{
	color: white;
}

.navbar ul a:link,.navber ul a:active,.navber ul a:visited{
	text-decoration: none;
	color: white;
}

.navbar ul a:hover{
	color: red;
	transition: .9s;
}

/* 侧栏 */
main{
	background-color: #eee;
	padding: 20px;
}
aside{
	float: right;
	margin-top: 20px;
	padding: 10px 20px;
	width: 30%;
	box-shadow: 2px 2px 3px 1px #777;
	background-color: white;
}

aside h1{
	display: inline-block;
	border-left: 3px solid #777;
	padding-left: 8px;
	text-align: center;
}

.line,.line-detail,.line-password,.line-mail{
	line-height: 2em;
	margin: 15px 0;
}

.line input,.line-password input,.line-mail input{
	padding: 5px;
	border-radius: 2px;
	font-size: .5em;
}

.line{
	margin-left:80px;
}

.line .space,.line-mail .space{
	display: inline-block;
	margin-left: 40px;
}

.line .space p{
	color: gray;
}

.line-password{
	margin-left: 30px;
}

.line-detail{
	margin-left: 40px;
}

.line-detail label{
	display: inline-block;
	vertical-align: top;
}

/* 主体内容 */

.content-article{
	margin: 20px 40% 10px 2%;
	padding: 10px 20px;
	box-shadow: 2px 2px 3px 1px #777;
	background-color: white;
}

.content-article img{
	width: 150px;
	height: 75px;
}

.content-article ol{
	margin-left: 60px;
}

#picbox .pic{
	display: inline-block;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
}

#picbox .pic p{
	text-align: center;
}

#picbox .pic img{
	display: block;
}

table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	line-height: 2em;
}

table th{
	background-color: red;
}

table .totle{
	background-color: gray;
}

/* 页尾 */
.footer{
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: black;
	color: white;
	font-size: 1em;
	font-weight: bold;
}