* {
	margin: 0;
	padding: 0;
}

html,body {
	background-color: #222;
}

.box {
	width: 670px;
	margin: 100px auto;
	/* background-color: red; */
}

.box a {
	position: relative;
	margin-left: 30px;
	display: inline-block;
	padding: 8px 80px 8px 12px;
	text-decoration: none;
	font: 1.3em 微软雅黑;
	border: 1px solid #fff;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .6);
	color: #eee;
	background: url(../img/arrow.png) 130px center no-repeat;
	box-sizing: border-box;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
	text-shadow: 0 0 1px #ddd;
}

.box a:hover {
	background: url(../img/arrow.png) 145px center no-repeat;
}

.box a span {
	position: absolute;
	width: 0;
	height: 0px;
	background-color: #fff;
	-moz-transition: .4s;
	-o-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}

.box a span:first-child {
	top: 0;
	left: -110%;
}

.box a span:nth-child(2) {
	bottom: 0;
	right: -110%;
}

.box a span:nth-child(3) {
	left: 0;
	bottom: -110%;
}

.box a span:nth-child(4) {
	right: 0;
	top: -110%;
}

.box a:hover span:first-child {
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
}

.box a:hover span:nth-child(2) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
}

.box a:hover span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 1px;
	height: 100%;
}

.box a:hover span:nth-child(4) {
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
}