*{
	margin: 0;
	padding: 0;
}

.banner{
	position: relative;
	margin: 200px auto;
	width: 1226px;
	height: 460px;
	overflow: hidden;
}

.pic{
	position: absolute;
	left: 0;
	top: 0;
	width: 600%;
	height: 460px;
}

.pic img{
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* display: none; */
	float: left;
}

.tab{
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 122px;
	height: 20px;
}

.tab ul li{
	list-style: none;
	float: left;
	margin-left: 10px;
	width: 8px;
	height: 8px;
	background-color: #777;
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid #666;
	opacity: 10;
	transition: .6s;
}

.tab .on{
	border: 1px solid #888;
	background-color: white;	
}

.tab ul li:hover{
	border: 1px solid #888;
	background-color: white;
}

.btn{
	position: absolute;
	/* left: 0; */
	top: 40%;
	/* margin-top: -62px; */
}

.left,.right{
	width: 42px;
	height: 62px;
	font-size: 50px;
	line-height: 62px;
	text-align: center;
	cursor: pointer;
	color: #402B2D;
	opacity: 6;
	display: none;
}


.left:hover,.right:hover{
	background-color: #402B2D;
	color: white;
	opacity: 6;
	display: block;
}


.banner .btn .right{
	position: absolute;
	left: 1190px;
	top: 15px;
}